[2017-12-10 11:36] HeimoL opened #328 "SHA256.ElectronCash-3.0-PORTABLE.txt"
checking the checksum on the downloaded file i find the SHA1 instead which is different to SHA256. how can i be sure the file is alright?

![grafik](https://user-images.githubusercontent.com/34415577/33804507-cc5fcef6-dda6-11e7-9795-41dd11bcda57.png)

[2017-12-10 13:54] bstin opened #329 "No module named 'dns'"
Trying to run on Fedora 27 results in:

Error: No module named 'dns'. Try 'sudo pip install <module-name>'

What is the actual module name?

As a side note, you should probably include a pip freeze from your virtualenv as a "pip.freeze" file as part of the source distribution.

[2017-12-10 15:24] bstin commented on #329
Replying to my own comment to help others who arrive here via google/ddg search:

## Its a little convoluted to install Electron Cash 3.0 on Fedora 27, however I did get it working (I hope / think?)

Here are the basic steps:

1. Install following from dnf:
`
sudo dnf install python3-dns
sudo dnf install python3-pyaes
sudo dnf install python3-ecdsa
sudo dnf install python3-qrcode
sudo dnf install

[2017-12-11 12:26] fyookball commented on #328
you need a sha256 check. try 7-zip on windows

[2017-12-11 12:26] #328 closed

[2017-12-11 12:27] #329 closed

[2017-12-11 12:28] fyookball commented on #329
glad you got it going.  Sounds like a convoluted way to install a module.

[2017-12-11 12:28] fyookball commented on #327
did you install in a different (fresh) directory?

[2017-12-11 12:29] fyookball commented on #283
#41 for all 2fa issues.

[2017-12-11 12:29] #283 closed

[2017-12-11 14:21] #302 closed

[2017-12-12 22:25] slanted3 opened #332 "No packages directory in ElectronCash-3.0.tar.gz"
...which is inconsistent with the README.rst file

"If you downloaded the official package (tar.gz), you can run
Electron Cash from its root directory (called Electrum), without installing it on your
system; all the python dependencies are included in the 'packages'
directory."

And obviously I get problems running it "from source" too.

[2017-12-12 22:31] willyloman commented on #332
@slanted3: Did you run `python3 setup.py install` prior to trying to run `./electron-cash`? I just downloaded the `.tar.gz` on the latest macOS and am able to run the program.

Are you on macOS or Linux?

[2017-12-12 22:34] willyloman commented on #269
@Danconnolly: Looks like this issue is fixed in v3.0 for Linux.

[2017-12-12 22:34] slanted3 commented on #332
It is Linux, Ubuntu 16.04 64bit. I tried to run without the setup command yes.
My previous installation works, and experience tells me I get hell if I do the install.

[2017-12-12 22:35] willyloman commented on #149
Has anyone been able to verify this is fixed on v3.0? I'm using the Linux build of 3.0 and it doesn't seem to be picking up my Ledger S Nano over USB:

<img width="605" alt="screen shot 2017-12-12 at 2 28 24 pm" src="https://user-images.githubusercontent.com/30201235/33912182-b6b433c2-df49-11e7-824e-686106e8f432.png">

Props for the additional copy on the dialog though, will hopefully save folks s

[2017-12-12 22:40] willyloman opened #334 "Missing Electron Cash v3.0 .dmg download for macOS"
I'm on macOS 10.13.1 and *am* able to run the Linux build, but I'm curious to know if/when there will be a v3.0 `.dmg` available for download on the [website](https://www.electroncash.org/) for easier install.

I think it's a good idea to release the v3.0 `.dmg` from a usability point of view for users who are less comfortable installing from source.

Awesome work iterating quickly from v.2.9.4!

[2017-12-13 06:08] makzpj commented on #41
I'm having trouble restoring my wallet from seed. It was a multibit hd import in electrum. I've tried 2.9.2, 2.9.3, 3.0 without luck. I can restore my wallet checking BIP39 seed but it shows zero balance. Otherwise the next button is disabled and I can't get past that. Any help will be appreciated.

[2017-12-13 08:56] proehlen opened #335 "Windows Defender reports Trojan: Win32/Fuerboos.B!cl"
Followed these steps:
1. Went to https://electroncash.org/#download
2. Clicked on Electron-Cash-3.0.exe download
3. Attempted to open the program but it failed with an error message
4. Windows Defender pops up a warning and on further inspection it has quarantined the executable with these details reported:

![image](https://user-images.githubusercontent.com/8384068/33930034-249adbbe-e01e-11e7-92d

[2017-12-13 12:10] CenturyChild12 opened #336 "server not conneced"
I withrawled Bitcoin Cash to the electron cash wallet from a trading platform. I did not receive the amount on electron wallet unfortunately.. my wallet is not connected to any server, is this the reason? how can i connect to a server?

i haven electron cash 2.9.4

[2017-12-13 12:52] gasull commented on #335
[Uploaded file to VirusTotal](https://www.virustotal.com/#/file/cb52998a067a1bf086b2f231b5f5c27ec362d4c7d12a3922f8047a230063724b/detection).  It's detected, falsely or not, as a virus by 2 antivirus.

[2017-12-13 15:36] liuyazhou000 opened #337 "how import the multibit HD wallet to electrum cash wallet"
i had tried . but failed

[2017-12-13 18:22] tinybike opened #338 "Sweep dialog TypeError: argument 1 has unexpected type 'Address'"
I get the following error when I try to open the Wallet -> Private keys -> Sweep dialog box in the electron-cash GUI:
[code]
I'm using Linux (Xubuntu 16.04), and get the same error in both the pre-built binary and the setup.py installed version.

The sweep dialog works fine for me using v2.9.4 (commit f493cadbcbb1572a5f28d10a1c4f84085f38fffa).

[2017-12-13 19:05] kyuupichan commented on #338
Yes sweeping is broken on master branch. Use Python3 branch of it matters

[2017-12-13 19:06] tinybike opened #339 "Sweep private key dialog should only accept plain text"
The sweep private key dialog allows the user to paste in styled text.  This is confusing -- especially if the text pasted in is not _obviously_ styled and can be easily mistaken by the user for plain text -- because the dialog actually requires a plain text key to work.  (After pasting in styled text, the "sweep" button does not light up.)

Suggested fix: convert all inputs to this dialog box to p

[2017-12-14 00:59] fyookball commented on #337
If it's a bip39 seed make sure derivation path is the same.

[2017-12-14 00:59] #337 closed

[2017-12-14 01:00] fyookball commented on #336
Use network tab. Or delete recent servers file

[2017-12-14 01:00] #336 closed

[2017-12-14 01:42] fyookball commented on #335
only solution for this is contact those virus detection companies and have it whitelisted.  Any help is appreciated!

[2017-12-14 01:42] #335 closed

[2017-12-14 02:24] fyookball commented on #234
it is done.

[2017-12-14 02:24] #234 closed

[2017-12-14 02:26] fyookball commented on #204
@eriksank can you try with 3.0 ?

[2017-12-14 02:26] fyookball commented on #205
@kyuupichan  has this been fixed/merged in 3.0?

[2017-12-14 09:10] kyuupichan commented on #205
I'm not sure; OP should comment on if the problem persists.

[2017-12-14 10:49] eriksank commented on #204
@fyookball It works like a charm now! Super! Thanks!

[2017-12-14 21:14] BitAlien commented on #153
Signing a message works just fine on Electron Cash 3.0 (Ubuntu 16.04). Creating a transaction does not work. As btchip has said "the library itself works fine with Electrum and should also work fine with Electrum Cash once called with the right flow".

The btchip-python library needs to be called the right way due to the differences in transaction signing in BCH vs BTC.

[2017-12-14 23:35] hegjon commented on #205
This issue is solved in latest commit 459100eda0f3cdcf6d75e304d08345a627364078 (HEAD, fyookball/master)

[2017-12-14 23:35] #205 closed

[2017-12-14 23:37] hegjon commented on #324
I think this also happens in Electrum, but it does not crash the whole application

[2017-12-15 00:03] hegjon commented on #329
jsonrpclib have switched upstream to -pelix as of 0.3.1 on Fedora 27 and later: https://apps.fedoraproject.org/packages/python-jsonrpclib

[2017-12-15 00:04] hegjon commented on #329
Do you know why python3-google-api-client-1.6.3-2.fc27.noarch python3-google-apputils-0.4.2-9.fc27.noarch is required? I am working on a RPM for Fedora

[2017-12-15 00:43] hegjon opened #340 "Document how to verify signature"
I want to verify the tar-ball containing the sources before building for Fedora.

What I tried so far: https://jonny.fedorapeople.org/electron-cash.spec

Example from command line:
[code]
What is the recommended way for verifying the published tar-balls?

[2017-12-15 01:03] bstin commented on #329
Hi Hegjon.

You know, as I research more....I don't think python3-google-api-client is required at all. I think in my quest to get it working I was trying to get the protobuf stuff working and that got installed by accident.

I just uninstalled python3-google-api-client and electron-cash still launches fine, so safe to say scratch that.

Also, regarding the python-jsonrpclib issue....Yes, I notice

[2017-12-15 02:37] hegjon commented on #329
Great to hear that the updated version is working fine.

I have had personal RPMs for Electron Cash since 2.9.3, but my main goal is to maintain it in Fedora once I feel it have matured enough. I want #340 to be working before sending the RPM for review.

[2017-12-15 03:01] hegjon commented on #340
Sorry, I used the none-raw URL for the .sig file. It would still be nice to have a small guide to do a proper validation

[2017-12-15 09:30] gasull commented on #335
I just found that [Electrum has even more false positives than Electron Cash](https://www.virustotal.com/#/file/f030699fe93e38d882c0734664207000756a32d0606ed714473f2f29e8156a31/detection).  Maybe this needs to be fixed upstream.

[2017-12-15 13:02] hegjon opened #341 "Review official Fedora package that is sent to review"
This is a message that informs you that I have submitted a review request of Electron Cash as a Fedora package:

https://bugzilla.redhat.com/show_bug.cgi?id=1526429

It would be great if you could spend 2 minutes just checking that summary, URL, description etc is correct. We also verify the signature for the tar-ball before the build, it would be great that this is also reviewed.

Feedback can be

[2017-12-15 13:20] hegjon commented on #329
It have been submitted for review, see #341 for more information

[2017-12-15 14:05] #204 closed

[2017-12-16 12:18] molecular opened #342 "missing input values in (old?) transactions from history"
to reproduce...

  * right-click a transaction on history tab, choose "details"
  * click "save" button, choose file
  * observe error:

[code]

[2017-12-16 12:43] zveda commented on #324
Just tested it and get the same thing in electrum:
`Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/electrum_gui/qt/paytoedit.py", line 263, in qr_input
    if data.startswith("bitcoin:"):
AttributeError: 'NoneType' object has no attribute 'startswith'
Aborted`
and electrum crashes and exits

[2017-12-16 16:25] molecular opened #343 "trezor: signing fails"
signing fails when using a cash address, but also when using a legacy address

[code]

[2017-12-17 04:29] kyuupichan commented on #342
This has just been fixed on master and python3 branches by https://github.com/fyookball/electrum/pull/345

[2017-12-17 04:29] #342 closed

[2017-12-17 04:45] #343 closed

[2017-12-17 04:45] kyuupichan commented on #343
@molecular  - please confirm; I don't have a trezor handy to test.

[2017-12-17 13:25] molecular commented on #343
confirming it's fixed. Thank you!

[2017-12-17 13:26] molecular commented on #342
yep, it's fixed. Thanks a lot.

[2017-12-17 15:02] fyookball commented on #334
done

[2017-12-17 15:02] #334 closed

[2017-12-17 15:03] fyookball commented on #332
ok may be an issue with the new release process. i'll investigate.

[2017-12-17 15:03] #327 closed

[2017-12-18 08:50] jamesmorgan commented on #325
This happened to me, V3.0 mac osx

[2017-12-18 08:54] gunebakan opened #346 "BaseException: ('Redeem script required for', 'p2sh', 'xxxxxxx')"
I am getting this error when I want to import private key. Then it freeze.
Any help?
Thanks.

[2017-12-18 12:44] Mhyza opened #347 "PROBLEM!! MISSING ACCESS to BTC Address After import private keys from Electrum wallet (2.9.3) to Electron Cash wallet (3.0)"
I created Electron Cash wallet by importing key from BTC Electrum wallet (2.9.3) to have the same wallet address name (BTC and BCH): 16YoT6uDGUhbdLEd8HzQx5fQdT2ziLpb5v
After open BTC Electrum wallet (password protected), ALL BTC was sweeped to unknown BTC address: 1LKQR5S26uZr7x3EDFUWRcrVFM5y3bTHCF
This address is not among my private key addresses.. HOW can I access MY BTC please?

https://blockc

[2017-12-18 15:36] fyookball commented on #347
looks suspicious.  possible hack/virus?  i see a very high fee on that tx

[2017-12-18 15:36] fyookball commented on #346
is it 2fa?

[2017-12-18 22:41] hulkerbse opened #348 "Electron Cash Error since 2.9.4"
Since Version 2.9.4 i can not login to my default wallet.
<img width="576" alt="screenshot 2017-12-18 23 39 22" src="https://user-images.githubusercontent.com/34664304/34131660-cea3ed58-e44c-11e7-9c01-11551ae91b3a.png">

Any ideas ?
I tried the older versions an it works.

I also tried to create a new Wallet with the known seed or private key but both were not recognized. Doesnt work with them. In

[2017-12-18 23:17] fyookball commented on #348
let me guess. 2fa wallet?

[2017-12-18 23:45] hulkerbse commented on #348
Maybe.
I don't know anymore because i can not login :D But i think it was, yes.

[2017-12-18 23:47] hulkerbse commented on #348
But any ideas how to fix that ?

[2017-12-19 00:41] vologdagde opened #349 "Can't install Electroncash 3.0 from my seed"
Hello,
I had bitcoins in Electrum wallet prior to BCC fork 8/1/17 on computer A. I moved BTC (bitcoin) to hard wallet sometime in the mid of august and because I was pretty green about crypto did not realize I can claim BCC (Bitcoin Cash).
So... Now in December I understand a little more.... :))  I have zero balance in my Electrum. I lost access to computer A (Ubuntu - Linux which I was just testi

[2017-12-19 00:43] vologdagde commented on #349
Continued...
I borrowed the computer C from my friend and installed the ElectronCash on the computer C and tried to run electroncash from there... same issue....

[2017-12-19 02:39] fyookball commented on #348
Please see #41 and follow up there for help. thanks!

[2017-12-19 02:39] #348 closed

[2017-12-19 03:35] fyookball commented on #349
is it a 2fa wallet?

[2017-12-19 03:50] vologdagde commented on #349
I used Google Authenticator through trusted coin

[2017-12-19 04:21] fyookball commented on #349
see #41 and post there if need help.

[2017-12-19 04:21] #349 closed

[2017-12-19 04:22] #347 closed

[2017-12-19 09:38] scottie11 opened #350 "electron cash 'not connected'"
just downloaded electroncash 3.0

opened wallet to find a small tab in the bottom right corner saying 'Not connected'

please help

[2017-12-19 12:30] fyookball commented on #350
go to the network settings and choose a server.  if none appear, delete recent_servers file

[2017-12-19 12:30] #350 closed

[2017-12-19 18:06] grajnikanth opened #351 "Sweeping Multisig Electrum Private keys into Electron cash to claim BCC"
HI, I have BTC sitting in a multisig electrum wallet (2 of 2) for a while now. I bought them before the Bitcoin Cash Hardfork. I want to claim the BCC in a new electron cash wallet. But all the tutorials I see talk about non multisig electrum wallets and private keys. I created the mutlisig wallet as a safety measure with one wallet sitting on a air-gapped computer and with the second wallet is on

[2017-12-19 21:27] TitaniBitDAVO opened #352 "Opened account TODAY I created seed before I sent , is this a problem??? WALLET EMPTY"
I transferred bitcoin from bittrex to the address I copy/pasted under "Receive" tab. I did this at 2pm today, there is still nothing in my wallet? What should i do? Bittrex confirmed the transfer.

[2017-12-19 22:20] TitaniBitDAVO commented on #352
I looked up address on block explorer and it says its at 22 confirmations, still nothing in my wallet. Please help

[2017-12-20 00:07] sWShakespeare opened #353 "Electron-Cash Error"
Non-specific, won't open :(

All details https://www.reddit.com/r/btc/comments/7kx0xc/electroncash_error/

[2017-12-20 01:34] jjsph opened #354 "Help please- accidentally sent btc via evercoin into electron cash"
So i meant to purchase BCH with LTC to send to my Electron Cash wallet via EVERCOIN, but I accidentally hit BTC instead of BCH. Evercoin is being absolutely no help. I'm unsure where to start. Am i shit out of luck?

[2017-12-20 01:43] jjsph commented on #354
https://live.blockcypher.com/ltc/tx/0f873741a549f49442d59097ea32018aa010da2f2f152e0ed4e4b444a1460353/#spentby-0862a7840a3589c0eb993e7c77ee080ee892e95c17f6fd4a2ec87d03ea5cc9bb-0

[2017-12-20 01:46] jjsph commented on #354
CAn somebody contact me so i can share with them the receiving wallet address to get this sorted?

[2017-12-20 01:55] jamescrypto opened #355 "i claimed my BCH"
I Claimed my BCH but when I try to transfer it out it said repeat ... so I just left it in the wallet. its been a long time now. I was thinking maybe one day electrum cash may one day have a support. what do you think can I claim this I have the string and private keys.

[2017-12-20 02:48] vologdagde commented on #41
Hi Guys, would really appreciate your help re: 349... I am able to get to my electrum wallet... but I cannot proceed with electroncash installation using my seed....
Stuck....

[2017-12-20 04:16] mastkis opened #356 "accidental transfer of BCH to BTC wallet"
I transferred all my BCH to BTC wallet on coinbase. I used Electron-cash wallet on my android phone. Below are the details. The transaction has been confirmed multiple times. Is it possible to get the BCH back in my wallet?
Transaction Id : af11660b10c12f62612333855095043533adea26c7e9eb904c3e203793438399

amount : 591.77528

Date: 2017-12-14 10:55

Thanks

[2017-12-20 05:17] mhelfer opened #357 "The Application "Electron-Cash" can't be opened"
I have downloaded Electron 3.0 dmg on to 3 different mac computers. I have confirmed the checksum and all of them. However, when I run it, it fails to start showing only the error message 'The Application "Electron-Cash" can't be opened.

Any thoughts?

[2017-12-20 05:42] fyookball commented on #355
i don't understand your issue.  What said "repeat"?  How did you claim?  Transfer out of where?  Please be more specific exactly whats going on here.

[2017-12-20 05:44] fyookball commented on #354
Sounds like you accidentally bought BTC instead of BCH.  I think if you want BCH you have to then sell your BTC and get BCH.  I dont think this has anything to do with this wallet.

[2017-12-20 05:44] #354 closed

[2017-12-20 05:45] fyookball commented on #353
what version and platform?

[2017-12-20 05:46] fyookball commented on #356
if you sent your BCH to a BTC address that COinbase controls you'll have to contact Coinbase as they control the keys to that address.

[2017-12-20 05:46] #356 closed

[2017-12-20 05:47] fyookball commented on #352
if you have the address in your wallet it should be same address on blockchain... make sure youre not confusing BTC for BCH and also make sure that the wallet is sync'd properly.

[2017-12-20 05:49] fyookball commented on #351
lets ask @kyuupichan as he has more experience with MS... i wouldnt be able to answer off the top of my head

[2017-12-20 05:51] fyookball commented on #357
The build process is different, we are on python3 in 3.0 and must have missed something.  For now, i would just say revert to 2.9.4...i'll have to find out from Calin (who did the build) what the debug proecss would be here.

[2017-12-20 05:56] akap11 opened #358 "Issue with electron cash 2.9.3"
I have BCC in my electron cash wallet. I try moving it over and get the error: the transaction was rejected by network rules. 16: mandatory-script-verify-flag-failed (Signature must use SIGHASH_FORKID)

I tried updating to the newest version but every time I try it crashes. I also tried to start a new wallet but don't have the seed.

Am I screwed?

[2017-12-20 06:00] fyookball commented on #358
2fa wallet?

[2017-12-20 06:01] akap11 commented on #358
Yes it is. it has [2fa] on the top.
Im slightly new to this lol

[2017-12-20 06:12] kekecr opened #359 "transfer of balance from watching only address"
Hi,
I created a new electron cash wallet, started with sweep, importing old addresses to claim my BCH.  BCH showed up in the balance but the wallet is in watch only mode so I can't transfer any fund anywhere.

I created a new wallet with seed, sweep the old address and when I get the option to transfer the balance  I can't change pay to address,  it's is always  the old address so in essence,  ele

[2017-12-20 07:14] jessejames01 opened #360 ""not connected" problem with Electron Cash 3.0"
My Electron Cash 3.0 wallet indicates that it's not connected, so I can't see my transaction and the balance stays at 0 BCC. I went in my Electron Cash "Tools">"Network" settings, unchecked "select server automatically" and tried multiple alternative "BCC"/"Electron Cash" servers, but the status remains at "not connected". I have the same problem with the 2.9.4-version.

Any solutions?

[2017-12-20 07:19] jamescrypto commented on #355
I had my bitcoin in my electrum wallet at the time of the fork. I opened a
electrum cash wallet and entered in my private ket and it shows I have a
balance but it wont let me send anything out of the wallet. it gives me a
error

On Tue, Dec 19, 2017 at 9:42 PM, fyookball <notifications@github.com> wrote:

--

[image: --]

james Demongin 1
[image: https://]about.me/jamesdemongin1
<https://about.me/

[2017-12-20 07:37] LucidComplex opened #361 "Android Fee Setting"
Can we have the Android app set fees lower? They are currently high for the current state of the chain.

[2017-12-20 09:14] snex opened #362 "Linux Version Segmentation Fault (core dumped)"
Running Ubuntu 17.10, trying to run Electron Wallet, all I get is "Segmentation fault (core dumped)" No other useful info. Package version 3.0.

2.9.4 works.

[2017-12-20 10:49] latoxine commented on #360
Same problem here...Please help us !

 First notice on 2.9.x version before to update to 3.

Did same things than OP plus I tried to install electron-cash on further PC with my seed and still nothing.  Same issue.

Erase the ''certs'' files and  the '' blockchain_headers" do not work, still  red light.

[2017-12-20 11:58] latoxine opened #364 "PLease help, BCH hostage, "not connected " electron cash issue !"
english is not my native language.

Electron Cash 3.0 wallet indicates that it's not connected.
I see my transactions but I can't do anything elese.

I went in my Electron Cash "Tools">"Network" settings, unchecked "select server automatically" and tried multiple alternative "BCC"/"Electron Cash" servers, but the status remains at "not connected".

I noticed the  problem with the 2.9.x-version whe

[2017-12-20 13:21] TitaniBitDAVO commented on #352
I'm a noob. Need serious help. I sent BTC (Bitcoin) to the address in my electron cash wallet. It's still not there this morning. Can someone please email me and help me, I'm freaking out. email is jad8depo@gmail.com

[2017-12-20 15:11] jjsph commented on #354
Hey, I did accidentally purchase btc AND sent them to my electron cash
wallet, where they seemed to have disappeared. I see the transaction on the
blockchain. Can you tell me how I can retrieve these btc that apparently
vanished into thin air? I'm desperate

On Dec 20, 2017 12:44 AM, "fyookball" <notifications@github.com> wrote:

[2017-12-20 15:12] jjsph commented on #354
When I open my electron cash wallet, there's nothing. When I open my
electrum ltc wallet, I see my outgoing transaction.  They're lost in
cyberspace.. need help. It's a huge loss for me based solely on my own fuck
up

On Dec 20, 2017 10:11 AM, "Joseph Bassi" <josephmbas@gmail.com> wrote:

[2017-12-20 15:22] latoxine commented on #364
was only due to my provider switch, where there was a firewal setting on the box. ( orange livebox pour les francais ! )

[2017-12-20 15:22] #364 closed

[2017-12-20 15:49] jjsph commented on #354
Basically how do i recover the 0.03341608 BTC that I sent to my Electron Cash BCH wallet? I purchased the BTC with Litecoin via Evercoin. Didn't realize i hit btc instead of bch. I know they're there, how do i get them back?

[2017-12-20 16:05] jjsph commented on #354
transaction 0f873741a549f49442d59097ea32018aa010da2f2f152e0ed4e4b444a1460353

sent 0.03341608 BTC

???

[2017-12-20 16:05] jjsph commented on #354
electron cash has my 0.03341608 BTC, but i cannot see it or move it somewhere else

[2017-12-20 18:09] grajnikanth commented on #351
OK thanks, any help on this will be great. Will you ask @kyuupichan or will he check this post?

[2017-12-20 18:45] chaddybox026 commented on #236
I don't see anything in the addresses tab @molecular

[2017-12-20 19:11] hegjon commented on #341
It would be nice if developers and tester could test the official package that is in Fedora testing and give feedback here https://bodhi.fedoraproject.org/updates/FEDORA-2017-b329e6d79d

Howto:
`sudo dnf install --enablerepo=updates-testing electron-cash`

[2017-12-20 19:25] bricketom opened #365 "I Checked the checksum, but my BCH gone to unknown address"
I don't remember how much BTC I had on this adress. Almost all my funds was on another, and I decided to check. I downloaded 3.0 , choosed "import keys", connected and see two transactions +0.1 and right in the same time -0.1 - gone to unknown adress. What does it mean?

[2017-12-20 20:35] TitaniBitDAVO commented on #352
Fyookball, can you please help me here? I sent the BTC (bitcoin) from bittrex account to newly setup Electron Cash Wallet, I sent to the address that was located under my receive tab. I have no coins in my Electron wallet and it is gone from Bittrex

[2017-12-20 20:49] kyuupichan commented on #352
Right click the address you sent to in the address tab - view menu if you haven't enabled it. Import that private key into electrum. Easy.

[2017-12-20 20:49] #352 closed

[2017-12-20 20:51] kyuupichan commented on #354
Electron cash has nothing. Right click the address you sent to in the address tab, show private key, import into electrum as a new wallet

[2017-12-20 20:53] kyuupichan commented on #351
Just set up your multisig wallet in electron cash the same way you did in electrum. The address will match and you can sign and send

[2017-12-20 20:53] TitaniBitDAVO commented on #352
I have a Mac. I don’t understand

[2017-12-20 20:54] TitaniBitDAVO commented on #352
Can you be more specific. Please and thank you in advance.

[2017-12-20 21:00] jjsph commented on #354
Thanks, I did that just now- imported into electrum as a new wallet. Able
to see my bitcoins there. I sent them back to coinbase just to route them
back to my bank account.

This is Electrum to Coinbase
tx: c381339083383ffd29e7cc611ce2ce446a37db2996559e8483da9a92fec0b5ed
This is what I saw when I imported to new wallet (initial amount coming
in): c381339083383ffd29e7cc611ce2ce446a37db2996559e8483d

[2017-12-20 21:06] TitaniBitDAVO commented on #352
Talk to me like I’m an 8 yr old

[2017-12-20 21:26] TitaniBitDAVO opened #366 "FYOOK PLEASE HELP?ANYONE?"
I sent the BTC (bitcoin) from bittrex account to newly setup Electron Cash Wallet, I sent to the address that was located under my receive tab. I have no coins in my Electron wallet and it is gone from Bittrex. Did i do anything wrong? Why is my bitcoin sitting on blockchain still? How can i get it back. Please speak to me like an 8 year old. I’m somewhat new to this but follow instructions very w

[2017-12-20 21:26] TitaniBitDAVO commented on #366
I’m on a Macintosh. FYI.

[2017-12-20 21:53] grajnikanth commented on #351
Ok great, I will try this out and let you all know how it worked.

[2017-12-20 23:52] bj97301 opened #367 "seed from electrum with 2fa"
I did something really stupid and sent my bitcoin cash to an electrum bitcoin wallet.  When I created this wallet I also enabled 2fa.  Is there a way to use my seed to recreate the same address with electron cash?  If there are other options feel free to let me know because I have private keys also but have no idea how to import them from electrum into electron cash.

Thank you in advance for any

[2017-12-21 01:11] Eibriel commented on #323
Same here, fresh install on virtualenv initiated with `virtualenv -p python3 venv` using python 3.5.2

[2017-12-21 01:20] kyuupichan commented on #354
Based on your own explanation I'm sure it did

[2017-12-21 03:18] voyagerz opened #368 "Had BTC on Electrum on 8/1 but my BCH is not coming up on Electron Cash"
I can see the balance of BTC I had on Electum on August 1st when the fork happened. But when I downloaded Electron Cash and used the same seed to access my wallet - the BCH is not coming up on the balance. It's 0. Not sure what I can do to access it. Help please!

[2017-12-21 03:46] akap11 commented on #358
is there anything I can do?

[2017-12-21 04:01] andosteinmetz commented on #353
I'm getting the same error – using Electron-Cash v3.0 on Mac OS 10.9.5. I looked on the Console and saw nothing more specific than "Electron-Cash Error"

[2017-12-21 04:02] Sem6000 opened #369 "Unable to claim BCH from Block.io multisig address"
I have attempted to recover my BCH from my multisig account.

I have the following details:
`

        Address: 35KaBnrDq2BDNBBSXbSVGpWaY65KZdtJkb
        Address Type: P2SH
        Required Signatures: 2

`

I have the redeem script, the redeem script hex, the public keys and the private keys but I will not be posting those obvoiusly.

When I try to put my details into Electron Cash, I cannot cli

[2017-12-21 06:54] vologdagde opened #370 "after spending few days trying to claim my Bitcoin cash"
I have a zero balance of my Bitcoin cash in the electron cash
Here is my electrum wallet (I reinstalled it from seed and disabled the 2fa - however I still see the [2fa])
![image](https://user-images.githubusercontent.com/34665698/34243919-5d4c9bd8-e5e0-11e7-91f5-eb0ccba354f9.png)

Electron cash
![image](https://user-images.githubusercontent.com/34665698/34244075-03b9824c-e5e1-11e7-96e6-6226f2c4f0

[2017-12-21 15:36] DiogenisPanagiotis commented on #370
I am having the exact same issue.. observing the same blank electron cash wallet.

[2017-12-21 18:29] panaceya opened #371 "UnicodeDecodeError at import bitcoin wallet"
Hello!

I trying import  bitcoin wallet, but receive next error:
[code]

[code]

Error also exist in git.

[2017-12-21 22:34] rveugelaers commented on #41
Hey, I have the same problem. Before the fork I had an Electron 2fa wallet.
I just installed Electron Cash 3.0 and did the following:
- Click to create new wallet
- Select standard wallet
- Click I already have a seed
- Then I fill in the seed phrase and the next button remains greyed out

I checked if I could fill in the seed phrase in ElectrUM and there it is accepted and I can click next.

Thnx

[2017-12-21 22:59] WurstCommander commented on #360
same here, can't connect.
Electron 2.9 AND 3.0, fresh Windows 10 64bit install.

[2017-12-22 03:08] neoice opened #372 "unable to run on OSX 10.9.5"
[code]

a quick Google search suggests that `Symbol not found: _LSCopyDefaultApplicationURLForURL` has been removed from Qt5 :(

[2017-12-22 03:39] vologdagde commented on #41
You described exactly what I have experienced. My guess it is all about 2fa seed and no support by trusted coin... very unfortunate we picked up Electrum wallet...

[2017-12-22 04:12] DarkLordGMS commented on #41
You have to follow the steps I posted above to recover the coins. Step by step.

https://github.com/fyookball/electrum/issues/41#issuecomment-325228017

[2017-12-22 06:14] TheButterZone commented on #325
Ditto.

[2017-12-22 06:40] KingParanha commented on #358
yes im having the exact same problem, i have also tried making a new wallet from the seed and disabling 2fa, but when i used that 2fa disabled wallet in 2.9,4 it just crashes? what can i do please ive been stuck like this all day

[2017-12-22 07:17] KingParanha commented on #6
hi i have been holding my BCC in electron cash 2.9.3 and now i found out that prior to 2.9.4 electron cash is not supported by network rules, but when i try to open my 2fa disabled wallet, the 2.9.4 software just crashes, what can i do please i have been stuck on this all day?

[2017-12-22 09:50] ab10460ef3 opened #373 "Exception thrown when importing BIP39 wallet from seed."
Trying to import a 13 work key phrase from OpenBazaar altcoins-rc1.

The function on_bip44 is defined on the wizard but the call to run it throws an exception.

`  File "/usr/local/lib/python3.5/dist-packages/Electron_Cash-3.0-py3.5.egg/electroncash_gui/qt/installwizard.py", line 91, in func_wrapper
    run_next(*out)`

 `File "/usr/local/lib/python3.5/dist-packages/Electron_Cash-3.0-py3.5.egg/ele

[2017-12-22 12:18] #373 closed

[2017-12-22 19:33] yeastmeister opened #374 "Bitcoin Cash from Bitcoin QT not showing correct balance."
Followed the instructions for getting bitcoin cash from my Bitcoin QT wallet.  But electrum isn't seeing my balance right.  It seems to be including multiple addresses when I look at the transaction details.  For instance, if I sent 3.6 coins to someone back in 2013, and there was a different address(not one of my sending addresses) in the same block that sent 20.4 coins to someone else, electrum

[2017-12-22 19:35] yeastmeister commented on #369
Had the same problem.  Created the initial wallet with default method.  After that, told electrum to create a new wallet.  The new wallet let me put in the address and click next.

[2017-12-22 22:22] rfjakob commented on #341
I have tested the package on Fedora 27 x86_64. Seems to work fine, thanks!

* Launching works
* Menus work
* Importing private key works
* Watch-only wallet works

![screenshot from 2017-12-22 23-20-25](https://user-images.githubusercontent.com/286847/34313854-c4a5252c-e76e-11e7-936e-7d9d48b66d23.png)

[2017-12-22 23:29] philipmatthew commented on #367
I also am in the same boat. Somehow ShapeShift allowed me to transfer $5000 USD to a BTC Electrum wallet with multifactor enabled (TrustedCoin). I am not able to use the seed in electron cash (it crashes) to restore the wallet. I am willing to donate 10% of any recovered funds to the project.

[2017-12-22 23:50] KingParanha opened #375 "Bitcoin Cash 2fa Wallet from 2.9.3 Electron Cash"
I was holding some Bitcoin Cash in an Electron Cash Wallet version 2.9.3, I had not realized that it was no longer supported. When I realized this I also learned that I had to create a new wallet from my seed and disable 2fa in the creation process to be able to use the wallet in supported versions. However when I go to make a wallet from the seed in any prior version of electron cash, I just get

[2017-12-22 23:59] hegjon commented on #341
Great to hear, thanks for testing.

[2017-12-23 11:33] deusmax commented on #360
same problem, can't connect. Tried all the servers on the list.
Electron 3.0, Linux 64 (Debian 9)

[2017-12-23 14:50] haakonstorm opened #376 "Stuck unconfirmed, accidentally sent BCH with Old Electron Cash wallet"
Tried sending BCH with old Electron Cash wallet..
Have upgraded to latest Electron now.
tx (a0e98c31c091daa7d1f9736b8b8b3b5fca2df506e7f0b0fcb0e8f902101fc8f8) unconfirmed, propably because old client created an invalid tx.
My funds are stuck in limbo land.
How to delete the transaction?
Tried exporting the private key (WIF) to sweep to Exodus.app, but the private key is in Bitcoin format and Exodus

[2017-12-23 15:36] verretor commented on #376
Your transaction is valid.
https://truevisionofsatoshi.com/tx/a0e98c31c091daa7d1f9736b8b8b3b5fca2df506e7f0b0fcb0e8f902101fc8f8

[2017-12-23 15:37] haakonstorm commented on #376
Thanks a bunch, just saw that - took many hours, maybe because of low fees from the old client. Thanks again.

[2017-12-23 15:37] #376 closed

[2017-12-23 17:43] pelicanbadger opened #377 "Can I recover BCH with this product?"
Prior to July 30th, I purchased .5 btc on Coinsbank.  Coinsbank did not, and still doesn't support BCH.  Today, that .5 btc is still sitting in coinsbank.
Can I use your service to
1.  Remove my BTC from Coinsbank, and keep it in your
wallet instead,   AND
2.  recover and account for the .5  BCH
that I'm entitled to since the fork occurred?

Thank you!

[2017-12-23 18:54] TitaniBitDAVO commented on #366
WHY WILL NOONE HELP ME?????

[2017-12-24 01:39] Dbdb368 opened #378 "How to recover lost/misdirected BTC?"
I was trying to send BTC from my  electrum wallet to my electron cash wallet as BCH, via shapeshift.
I did it wrong however, i just literally took the electrum address for the refund address and the electron cash address as the destination address
I did not realize I was supposed to use the new address that shapeshift created to send the BTC to.
so electrum wallet shows that transaction as verifie

[2017-12-24 11:01] Malvineous opened #379 "AttributeError: 'AddressList' object has no attribute 'refresh_headers'"
1. Clean install
2. Preferences, Fiat tab
3. Tick "Show Fiat balance for addresses"
[code]
The latest git version won't connect to the network, so perhaps this is the problem?  (The latest original Electrum release also doesn't connect to the network, but their git version does.)

[2017-12-24 17:00] TitaniBitDAVO commented on #378
I'm kind of in same spot over 5 days now. I sent BTC from bitter to Electron Cash, trans ID confirmed but no bitcoin in my electron cash wallet, can anyone help me? I changed server to electrum-abc.cryptolayer.net

I'm not sure if I'm doing something wrong but still no bitcoin

[2017-12-24 20:55] TrustyJAID commented on #378
To add to @Dbdb368 The electrum and electron cash wallets have the same private key. So Sending btc from Electrum to Electron cash should have resulted in sending BTC to itself in Electrum. I suspect it has something to do with Electrum not knowing it has this specific Public Address but otherwise not 100% what went wrong here.

[2017-12-24 22:14] jidanni opened #380 "Empty links on website"
On https://electroncash.org/ there are links like
[code]
that leave users scratching their heads.

[2017-12-25 00:20] wpmonty commented on #351
@grajnikanth did this work? I'm having the same 2FA issue.

[2017-12-25 07:00] butterstuff opened #381 "BaseException: ('Redeem script required for', 'p2sh', 'redacted')"
hi fyook, happy holidays.  i happened to run into this problem  tonight in trying to claim my bch. I noticed the other thread with the similar issue but decided not to hijack it.

 i am running electron on linux in a vm and imported a series of private keys from an emptied btc wallet and upon hitting "next" i got the "please wait" / install wizard dialog and this was returned in the terminal...

^

[2017-12-25 10:07] dutchdragon3 opened #382 "electroncash update from 2.9.2 to 3 need help"
here is the problem  i had electorn chas 2.9.2 i saw that he would not connect to the server so i thought i need to update perhaps so i downloaded the 3.0 version but now when i try to open me wallet it said Failed to execute script electron-cash how can i fix this :(

[2017-12-25 13:53] Nikratio commented on #360
+1

[2017-12-25 14:21] StaticNoiseLog commented on #360
+1, Windows 10, ElectronCash-3.0-PORTABLE.exe

[2017-12-25 17:42] Nikratio commented on #360
Could someone clarify what kind of connection(s) Electron Cash is trying to establish?

[2017-12-25 19:31] WurstCommander commented on #360
Me again (2-3min), after a while Cash connected and everything is fine.

[2017-12-25 20:16] deep9th commented on #360
Just wait a bit and it will connect

[2017-12-25 20:26] deep9th opened #383 "v3.0 portable = v3.0 installer"
Portable version works as it should. The problem is it doesn't memorize any data, so every time I open wallet, it asks me for a seed, imports data, etc.
To avoid that, I decided to install it from the .exe, but it behave just as portable version and it doesn't install actually. Since file sizes are identical, my guess is, it's the same (portable) file with different. Can you fix that please?

**Up

[2017-12-25 21:35] Corben77 opened #384 "Virustotal findings"
I checked the ElectronCash-3.0.exe version with virustotal:   https://goo.gl/ivzpAe
There is a list of  five findings which I would classify as wrong alarm.
Then I checked the signature of the file with J.Fyookball's key (EFF1DDE1) and got this: "Key is not valid"
Can I trust this file or not?

[2017-12-25 23:55] butterstuff commented on #381
update:  i have managed to create a watch-only wallet with the correct funds.  still not able to create a standard wallet

[2017-12-26 02:16] butterstuff commented on #381
update2:  solved my own issue.

found this thread
https://bitcointalk.org/index.php?topic=2433700.0

it fixes the issue perfectly.

for posterity:

(obviously move all BTC to new address)
restore seed to 2fa disabled wallet without encryption
opened wallet in text editor.
locate x1 and x2 xprv
locate x3 xpub

1. Open ElectronCash
2. File -> New\Restore -> MultiSig Wallet
3. Set "From 3 cosigners",

[2017-12-26 03:36] TexasMiner opened #385 "BCH stuck in "Unverified" status"
I recently switched from mining BTC to mining BCH at Antpool.  My payments (BCH) all show as going out as normal (as it did with bitcoin), but they never show up in my "Electon Cash" wallet.  Every now and then I will see (during a sync I guess) that the transactions are showing up as "unverified" deposits but disappear shortly after they appear.  Can you offer any explanation as to what is going

[2017-12-26 09:59] hegjon commented on #341
I made a screen cast, do you think I skipped the backup section too fast? I wanted it to be short, but not if people are loosing money.

[Electron Cash on Fedora in under 2 minutes](https://youtu.be/DUh1_qkPass)

[2017-12-26 11:47] jidanni opened #386 "revise AUTHORS and add yourself to pubkeys/"
I think you should revise AUTHORS and add yourself to pubkeys/ or remove the others there...

[2017-12-26 12:40] jidanni opened #387 "Please also make a Debian package"
I was reading #232 and thought: please also put a .deb package on Debian like https://packages.debian.org/sid/electrum .

[2017-12-27 00:25] jidanni commented on #387
OK I also made http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=885426
By the way they have a good man page...

[2017-12-27 02:58] sanchaz opened #388 "Master Public Key Menu missing from the linux source"
Normally I just download the source and then execute the python script.
I can see the menu entry to get the Master Public Key under 2.9.4 but on 3.0 it's gone.

If someone can point me to where it lives on the codebase, I might be able to have a look and see what changed.
Otherwise if someone knows how to quickly fix this, even better!

Thanks.

[2017-12-27 03:21] jidanni opened #389 "electron-cash --testnet ValueError: not enough values to unpack (expected 3, got 1)"
[code]

[2017-12-27 04:17] sanchaz commented on #388
nvm it's now under Information
https://github.com/fyookball/electrum/blob/b1134da18c75b734deec5fb4dc76db5ef6a29ee8/gui/qt/main_window.py#L464

[2017-12-27 04:17] #388 closed

[2017-12-27 10:46] jidanni opened #390 "Some Android error messages"
Some error messages I saw on  Android 7.0 logcat.

12-27 18:33:57.708 V/pythonutil(13773): Library loading error: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/org.electroncash.electroncash-1/base.apk"],nativeLibraryDirectories=[/data/app/org.electroncash.electroncash-1/lib/arm, /system/fake-libs, /data/app/org.electroncash.electroncash-1/base.apk!/lib/armeabi-v7a, /system/lib, /v

[2017-12-27 11:46] jidanni opened #391 "The word electrum still shows up often"
There are many places when using the Android app that the word electrum shows up. Therefore I would go through the entire code, and replace the word electrum with a variable. And that variable in the headers could be changed to electron cash, or even Litecoin something.

[2017-12-27 11:49] jidanni commented on #391
For instance I see it says 10 connections to the electrum servers. Well with a variable instead of a hard-coded name, the next time somebody forks this package, they can just insert the type of currency that the package is intended for.

[2017-12-27 12:21] ciskeboekelo opened #392 "Error: No module named 'dns'. Try 'sudo pip install <module-name>'"
I'm trying this on Ubuntu 16.04

Unpacked the tar, and tried running it:

[code]

What should I do to get this running?

[2017-12-27 21:10] MannyC commented on #392
`pip3 install pyaes ecdsa pbkdf2 requests qrcode protobuf dnspython jsonrpclib-pelix PySocks`

Documentation says that the requirements should be in the distributed source tar but this doesn't seem to be the case with the 3.0 tar.

[2017-12-27 22:54] DebiantDeviant opened #393 "Need help to install electroncash on Linux (Tails )"
Hello,

I need some help please to install Electroncash on Tails if possible; Just to let you know i am fairly new with using a Linux system so bare with me if i dont follow what you are asking me.
First,
I already downloaded and verified the signature of the .tar înstall file for Linux located on electoncash.org

My question is simple i think, What is the command line to start the install process

[2017-12-28 00:07] ciskeboekelo commented on #392
Ah, yes, now I seem to be at the same point again as where I got when I tried running setup.py install first.

I'm now getting this:

[code]
I'm doing this in a virtualenv by the way.
Any thoughts?

[2017-12-28 00:08] ciskeboekelo commented on #392
Just to be clear: it's saying it needs `python3-pyqt5` but that's already been installed.

[2017-12-28 01:41] MannyC commented on #366
You need to find out if bittrex never sent the coins or if they sent it to an address that isn't controlled by electron or if it's just that electron can't retrieve your balance from the server.

Start by searching for your address on a bitcoin cash blockchain explorer and seeing if you see any relevant transactions.

[2017-12-28 01:59] MannyC commented on #392
I did not hit that issue, but I was not using a virtualenv so I suspect it may be related to that.  You may have to download and install pyqt5 into the virtualenv without apt, I'm not entirely sure.

[2017-12-28 02:06] TitaniBitDAVO commented on #366
Thanks. I figured it out.

[2017-12-28 02:06] #366 closed

[2017-12-28 04:46] ryankemper commented on #378
@Dbdb368 Did you create a new electron cash wallet first, or did you use the same priv key as your BTC (electrum) wallet?

If it's the first, you need to import your electron cash seed into electrum.

If it's the second, your BTC should have been sent right back to the same wallet, and should be there

[2017-12-28 04:47] ryankemper commented on #378
@TitaniBitDAVO You didn't provide a lot of info, perhaps supply the txid? Are you sure you sent to your electron cash wallet, and that the BTC transaction made it into a block (has >= 1 confirmation)?

[2017-12-28 04:48] ryankemper commented on #377
@pelicanbadger No, your BCH is gone unless Coinsbank decides to release it to you. This is because you never owned your BTC private keys.

If you want to send BTC, you should use Electrum. This is electron cash, which is a fork of electrum for bitcoin cash (BCH).

[2017-12-28 04:50] ryankemper commented on #368
@voyagerz Did you have it *before* the fork, or just after? If you had it before the fork, the method you used should give you access to BCH. To me, this implies you didn't get your BTC till after the fork occured. Or, perhaps you used the wrong seed?

[2017-12-28 04:51] ryankemper commented on #365
@bricketom Did you disclose your private key to an untrusted party? It's possible they got stolen.

Please PM me if you want help resolving this, to dig further into it you will have to provide your address (NOT your private key) so we can see what happened

[2017-12-28 04:58] ryankemper commented on #385
@TexasMiner I don't have a lot of experience mining myself, so I may be unable to help you, but I see noone else has replied. Are you still experiencing the issue? I loaded the first txid you posted,  d798c8abb7dd32e4f626a2a0c26aadd40fc9e8f953cd61e39bf17eb118190b47, and I am seeing >500 confirmations, so the coins should be yours. Also what version of electron cash are you using?

https://blockcha

[2017-12-28 05:37] TrustyJAID commented on #378
I have solved @Dbdb368 issue by extracting the private key from electron cash and importing it into electrum.
Steps to fix:
In Electron Cash:
- Wallet -> private keys -> export
- find the associated public address and private key
- open Electrum
- File -> New/Restore
- Enter new wallet name and select next
- select Standard wallet
- select Use public or private keys
- Paste the private key from el

[2017-12-29 03:13] TexasMiner commented on #385
Yes, I have seen that also.  When I switched my wallet to Jaxx, the deposits hit as normal.  I have used antpool and electrum  for bitcoin for a long time, but when I switched it to BCH at antpool and used electron cash as my wallet, I never saw a deposit.  the only way I ever even see the "unverified" as seen below, is when I select electron-ABC-cryptolayer.net as the server.  then I at least see

[2017-12-29 03:15] TexasMiner commented on #385
If you cant ask for support here, where do you go for Electron cash support?

[2017-12-29 03:59] Thrash370 commented on #369
Having the same problem  For the life of me can't figure out how to get block.io to import to Electron.

Tried making a new wallet that doesn't work.

Do I have to put xpub or anything like that before the address?  It asks for a public key and private key at same time, how do I separate those (ctrl+enter)?

Any help would be great have a decent amount of BCH I'm trying to get unlocked for a frien

[2017-12-29 04:30] 1ib3r7yr3igns commented on #393
I'd like to upvote this. I downloaded ElectronCash3.0.tar.gz and I was unable to open it in Tails version 3.3. In Electron Cash version 2.9.4, I would just run
`python electron-cash`,

But now, when I do,

`python3 electron-cash`,

or

`python electron-cash`

or

`./electron-cash`

I get missing python dependencies.

setup.py install did not work either, though I'm not so sure installation is any

[2017-12-29 09:15] kekecr commented on #359
To solve the problem I installed bitcoin abc, donwloading the whole bch  blockchain, copied wallet.dat from bitcoin qt to abc folder and  as sync is going on BCH is showing up as well so hopefully I'll be able to claime my BCH this way

[2017-12-29 09:35] bricketom commented on #365
Sorry, how can i PM u? First time on github, and don't see PM )

[2017-12-29 11:02] AntonioLaTrippa opened #394 "Compatibilty with version 2.9.2 and old seeds"
Hi Fyookball,
My platform is Windows 10. I have tried transferring some BCH from the wallet I created after the fork using v 2.9.2, but v 2.9.2 can't connect to the servers anymore. I then downloaded v 3.0, and created a new wallet with the same seed I sued to create the wallet in v 2.9.2. This new wallet is empty, meaning that not only it doesn't contain any BCH, but also has no operations or tra

[2017-12-29 11:04] AntonioLaTrippa commented on #394
P.S.: V 2.9.2 perfectly opens the wallet and all the BCH and the previous operations done are there, it just doesn't do anything because it cannot connect.

[2017-12-29 23:23] AntonioLaTrippa commented on #394
Something more. I created a new "watching only" wallet using the addresses that the v 2.9.2 created, extracting them from there. All my BCH are there. So I tried and created a new functioning wallet with the keys I extracted from the old wallet, but the new wallet is empty. If I could add the old addresses to this new wallet I believe my issues would be sorted. Problem is I am not able to do it. I

[2017-12-30 12:33] ciskeboekelo commented on #392
Ok, I didn't yet know how to use pip to install for python 3 without using a virtual env, but using pip3 worked like a charm. Thanks!

[2017-12-30 12:33] #392 closed

[2017-12-30 15:06] grajnikanth commented on #351
Hi, I setup the electron cash wallet as suggested by @kyuupichan and it worked. Just to be safe I did this on two new computers. I used my office computer and an extra computer lying around the house. While setting it up, I used the option of creating the wallet using the seed for both the wallets. I used the two seeds which I got from the original electrum wallets. It worked fine and I see all my

[2017-12-30 15:07] #351 closed

[2017-12-30 22:52] hegjon commented on #341
Closing issue since the package have been included into the official Fedora repository: https://apps.fedoraproject.org/packages/electron-cash

[2017-12-30 22:52] #341 closed

[2017-12-30 22:54] hegjon commented on #329
Just wanted to let you know that the package is now in the standard Fedora repository: https://apps.fedoraproject.org/packages/electron-cash

Quick intro: https://youtu.be/DUh1_qkPass

[2017-12-30 23:09] hegjon commented on #387
Maybe it help asking the maintainer of Electrum, I mantain both Electrum and Electron Cash packages at Fedora and they are pretty similar.

[2017-12-31 08:02] gapingforensics opened #399 "downloaded electrum cash wallet, closed it, then opened it again address changed"
so i sent some funds to my bch electrum wallet manually typing in the key and it worked like a charm...however i closed it again and reopened and copy and pasted that same key into where i was sending from again. i see the transaction as pending from where i sent it, but my wallet doesnt see it anymore...i check the receive tab and low and behold the key is different! what the heck? am i missing s

[2017-12-31 08:20] gapingforensics commented on #399
here was my problem everyone. dont use VPNs with electrum cash 3.0. that was the problem all along. as for the address changing, i figured out how to view all my addresses and they all connect to my wallet. this is how a lot of wallets and ex's work. sorry to clog up space but i hope this was useful to others.

[2017-12-31 10:39] jidanni commented on #387
@hegjon Yes, let's hope

saw my http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=885426 .

[2017-12-31 16:41] QuavoLecso commented on #393
I can't install it either,

[2017-12-31 16:44] QuavoLecso commented on #332
same problem here

[2017-12-31 19:38] grajnikanth opened #400 "Electron cash Multisig Does not work"
The issue is more of a comment I have about how electron cash is working. I sweeped my electrum multisig to electron cash multi sig wallet. I also sent BCH out of this new electron cash wallet. I did not have to sign the transaction using both the mutlisig wallets. I was able to send transaction out using just one or the other wallets. On electrum, I would have to sign, save it as a file load it i

[2018-01-01 04:59] marceloneil commented on #393
Here is how you install Electron Cash 3.0 on linux:

First retrieve @fyookball's public key from his repo, you only need to do this once but it is recommended to insure that you are installing an un-altered version of electron cash.
[code]
Next download the actual application, signature and checksum
[code]
Now verify the download
[code]
Finally install it
[code]
Hopefully, you will be able to run

[2018-01-02 00:11] Confusedashell opened #401 "Sent BCC to address, but address never received BCC."
Sent BCC to an address and electron confirmed the transaction and showed it on my history, but the address never actually received the BCC and now the balance says 0. Did the BCC get lost?

[2018-01-02 01:29] fyookball opened #402 "packages for Linux"
https://www.reddit.com/r/btc/comments/7n54zc/electron_cash_already_included_in_5_linux_distros/ds0uyjd/

[2018-01-02 01:29] fyookball commented on #401
check a block explorer.

[2018-01-02 01:30] fyookball commented on #400
@kyuupichan was fixing multisig.  Not sure the status.

[2018-01-02 01:31] fyookball commented on #399
not sure what you did but sounds like youre ok

[2018-01-02 01:31] #399 closed

[2018-01-02 01:32] fyookball commented on #394
if this is a 2fa wallet, please continue discussion on #41.

If its not a 2fa you'll have to just create a new wallet with the same seed.

[2018-01-02 01:32] #394 closed

[2018-01-02 01:36] fyookball commented on #385
i try to answer tickets but this has been a holiday week.  2.9.3 is not working any more with network rules after DAA hard fork.  You must use 2.9.4 or newer.

[2018-01-02 01:36] #385 closed

[2018-01-02 01:36] #383 closed

[2018-01-02 01:37] fyookball commented on #367
#41 for all 2fa.

[2018-01-02 01:37] #367 closed

[2018-01-02 01:38] #365 closed

[2018-01-02 01:38] fyookball commented on #361
good idea

[2018-01-02 01:39] fyookball commented on #360
firewall eh...thx...good to know. closing.

[2018-01-02 01:39] #360 closed

[2018-01-02 01:40] fyookball commented on #359
was on vacation ,...everything ok?

[2018-01-02 01:40] #359 closed

[2018-01-02 01:42] Confusedashell commented on #401
I did, but the block explorer said that they couldn't find it

[2018-01-02 01:43] marceloneil commented on #402
That's me! I'll look into it :)

[2018-01-02 01:44] marceloneil commented on #400
I've been able to use multisig (with the ledger) on the current master branch.

[2018-01-02 11:36] kuziozmc commented on #375
Hello,
did you manage to restore wallet without 2fa? I have the same problem and donno how to proceed in order to recover from seed.
Cheers

[2018-01-02 12:16] KingParanha commented on #375
No this is total bs. I msged electron cash on twitter and they havent responded and no one on here seems to care. How can electron cash just remove network compatability and not make everyone knows, what if you are holding for a long time and dont really check up on ur wallet. This is unacceptable. And the worst part is electron cash seeds cant be restored via any other wallets. So I have just giv

[2018-01-02 12:18] KingParanha commented on #382
This is a major problem ive been having but ive already made a similar post but no one seems to be helping out anymore, its really stupid how they stopped network compatibility without tellong ppl.

[2018-01-02 13:46] kyuupichan commented on #375
@KingParanha Electron Cash hasn't removed anything.  Your problem is that your service provider, TrustedCoin, abandoned you and your money by refusing to sign BCH transactions.  You should complain to them.

[2018-01-02 14:46] kuziozmc commented on #375
@kyuupichan How to get in touch with them? cheers

[2018-01-02 16:32] 1ib3r7yr3igns commented on #393
I tried an install on fresh copies of both tails and linux mint. On both I got the same issue when running
`sudo python3 setup.py install`.

Python could not find module 'setuptools'. In order to get setuptools, I needed to install pip3.

On linux mint, I installed pip3, installed setuptools, then was able to get it all started.

On Tails, I had to run `sudo apt-get update && sudo apt-get upgrade`

[2018-01-02 16:35] TheSentry commented on #325
Happened to me, too. Windows 10, v3.0

[2018-01-02 17:07] Confusedashell commented on #401
So it turns out, I ended up sending BCC to a BTC address that doesn't support BCC. Is there anyway to recover the BCC from the BTC address?

[2018-01-02 20:19] KingParanha commented on #375
Yes can u please let us know how to get in touch with them, thank you.

[2018-01-02 20:35] DivAlec opened #403 "trouble claiming BCH on windows computer (electrum electron)"
Hi, i had BTC before the hard fork of august 1st, but having trouble claiming my BCH.
1. Transferred BTC from  my electrum default wallet second new electrum wallet (issues with 2fa on electrum)en then send to nano ledger s
2. Downloaded electron cash 3.0 exe wallet (option standard wallet)
3. Imported old electrum seed from electrum (yes, the right seed and then checked BIP39)
4. Balance is 0 BCH

[2018-01-03 07:54] Blueyre2 commented on #393
For some reason, electron-cash-2.9.4 works perfectly fine on Tails without the need of installing any dependencies. I just run ./electron-cash and it works. However, electron-cash-3.0, the latest version, doesn't work on Tails and gives a missing dependency error when attempting to run it by using ./electron-cash. I realized that 2.9.4 comes with the packages folder mentioned in the README and 3.0

[2018-01-03 10:56] 2600box commented on #393
jumping on this issue because I think it is the same as I have.

after running `python3 setup.py install` and then `./electron-cash` I get the following missing dependency:

`Error: No module named 'google.protobuf'. Try 'sudo pip install <module-name>'`

which I cannot find a way to satisfy.

`sudo pip3 install google.protobuf
Collecting google.protobuf
  Could not find a version that satisfies t

[2018-01-03 19:22] bigswiss89 opened #405 "Accidentally Sent BCH to a Watch Only Wallet"
Hello,

I sent BCH to my Electrum wallet, then realized I needed to download ElectronCash for BCH. Once I opened it, it told me that it was a Watch Only wallet and not to use it for spending BCH...

How can I get my BCH out? I have my Electrum wallet's seed if that helps.

Thanks,

[2018-01-03 19:52] nardusg opened #406 "weird electrum/elctroncash BCH fork issue"
Hi

Hope I can get some help. I listened to a podcast this morning and realised that I do have some unclaimed BCH. I only moved my BTC a few months after the fork has happend. I installed electroncash and restored my electrum wallet. I had about .5 BTC before the fork. Right after I have imported the wallet my .5 BCH was not in my wallet any more. I looked like it was send to another unknown addre

[2018-01-03 20:26] LightSunChen opened #407 "Electron Cash 3.0 crashed when tick/untick Show Fiat balance for addresses"
Electron Cash 3.0 crashed when tick/untick Show Fiat balance for addresses

[2018-01-03 20:48] yurkazaytsev commented on #200
@gheemath do you have retina display or display with regular resolution?

[2018-01-03 21:05] fyookball commented on #406
use a block explorer and see which BCH address the coins are on, and then see if it matches an address that is generated by your seed.

[2018-01-03 21:05] #406 closed

[2018-01-03 21:06] fyookball commented on #405
create a new (BCH) wallet with the seed and you should be good to go

[2018-01-03 21:06] #405 closed

[2018-01-03 21:07] fyookball commented on #403
sounds like its a 2fa ?   See #41

[2018-01-03 21:07] #403 closed

[2018-01-04 01:01] #389 closed

[2018-01-04 02:22] 1ib3r7yr3igns opened #409 "Unintentional address reuse"
When sending funds to an electron-cash 3.0 address, I accidentally sent much less than I intended. After it was confirmed, I wanted to send the rest of the funds. The wallet offered the same receive address for the new funds. So this address now contained two UTXOs. I then sent funds from this address, and the wallet correctly sent the remainder of the larger UTXO to a change address, but did not

[2018-01-04 03:14] kyuupichan commented on #409
This is what the Privacy coin chooser does.  We should make it the default.  Change it in your preferences in the mean time.

[2018-01-04 03:14] #409 closed

[2018-01-04 03:23] marceloneil opened #411 "Electron Cash might sync to an outdated node even if it is not the default node"
Sometimes Electron Cash may sync block headers from an outdated node, even if it is not selected as the default node. Although there are nodes available with a greater block height, Electron Cash will stop syncing without an error.

![outdated-node](https://user-images.githubusercontent.com/6353492/34549124-42c17384-f0d4-11e7-8286-c186dbfc1afb.png)

This issue can be reproduced by using the `--tes

[2018-01-04 04:08] #379 closed

[2018-01-04 04:09] kyuupichan commented on #407
Fixed by b03a80cec75f261003d21862426f9d4ffe17575f

[2018-01-04 04:09] #407 closed

[2018-01-04 04:10] kyuupichan commented on #338
Should be fixed in master

[2018-01-04 04:10] #338 closed

[2018-01-04 04:10] kyuupichan commented on #325
Fixed by b03a80cec75f261003d21862426f9d4ffe17575f

[2018-01-04 04:10] #325 closed

[2018-01-04 04:11] kyuupichan commented on #284
Does this happen in 3.0?

[2018-01-04 04:25] kyuupichan commented on #270
Seems fixed in master

[2018-01-04 04:25] #270 closed

[2018-01-04 04:53] LightSunChen commented on #407
Excuse me, how can I update it to ElectronCash in Windows ?

[2018-01-04 05:31] nardusg commented on #406
Hi

Thanks fro the reply. The weird thing is that I used the electroncash android app from the playstore. It showed it and then send it to the address. Was the mobile app compromised ? I can see it on the block explorer.

Regards

Nardus

[2018-01-04 06:04] marceloneil commented on #393
The previous releases included a folder called `packages/`, which contained all the dependencies needed, unfortunately the 3.0 build is missing this folder. @fyookball, would you be able to update the linux package and ensure you run `./contrib/make_packages`? It seems to be the root of a lot of these tails users problems.

@1ib3r7yr3igns @Blueyre2 you can compile your own package temporarily on a

[2018-01-04 06:09] marceloneil commented on #393
Just out of curiousity, if tails wipes your data on reboot, where do you store your private keys? A usb key? Or does tails preserve your home directory

[2018-01-04 07:33] Kalfer opened #412 "Compatibility with BIP 70"
Hi. It is impossible to send BCC from Electron Cash 3.0 to a BitPay wallet.
I guess this is not a bug, but a lack of compatibility. I hope Electron Cash developers will soon add it. Thank you.

[2018-01-04 10:04] HCNSDK opened #413 "Electron crashes when trying to open bitcoin cash"
Hi Guys,
Hope for some help claiming my bitcoin cash.
I had som bitcoing in Electrum wallet 1.aug 2017 and now would be nice to get the bitcoin cash available.

I can see the bitcoin cash in an Electron wallet but only in watching mode.

Tried to open the Electrum wallet (where I can see all the bitcoin transactions) with Electron, but it crashes.

Any suggestions?

Thanks!

[2018-01-04 12:04] 2600box commented on #393
@marceloneil, thanks for the reply.

I have tried these versions of protobuf, but electroncash still complains about google.protobuf specifically.

oh and i said debian jessie out of habit. I meant that i am on stretch.

[2018-01-04 17:10] #153 closed

[2018-01-04 17:10] TimCannady commented on #41
@DarkLordGMS:

I'm pretty happy I finally discovered the steps you posted above. I spent half a day scouring the internet for a fix.

My only issue now is that 2.9.3 won't stay connected to any servers. This happens even if I select a server manually. It quickly connects, flashes a bunch and then disconnects.

The only fix I can find online suggest to upgrade to the newest version. But this presen

[2018-01-04 17:19] coelhopsi opened #414 "SHA256 mismatch for ElectronCash-3.0.exe"
SHA256 hash for file https://electroncash.org/downloads/3.0/win-linux/ElectronCash-3.0.exe doesn't match the hash published at https://github.com/fyookball/keys-n-hashes/blob/master/sigs-and-sums/3.0/win-linux/SHA256.ElectronCash-3.0.exe.txt.

The downloaded file has a hash of 65ae9382f6434629f603adea266270ff91de3f6838293b85da0b5e76b1a6151c while the correct one should be cb52998a067a1bf086b2f231b

[2018-01-04 17:21] DarkLordGMS commented on #41
@TimCannady I'm glad I was able to help you!

You should only use 2.9.3 to send ALL the coins out of the 2FA wallet to a new non-2FA wallet that you control. You can make a new standard Electron Cash wallet if you want. When you send the coins, check the TX id in a block explorer like https://www.blocktrail.com/BCC and when the transaction gets confirmed, delete Electron Cash 2.9.3 and don't use i

[2018-01-04 17:30] TimCannady commented on #41
@DarkLordGMS

Thanks for the prompt reply.

To clarify, that is what I'm trying to do. But I cannot send the coins out of the 2.9.3 wallet since the client does not stay connected to the network (details outlined in the previous comment).

[2018-01-04 17:39] marceloneil commented on #153
You should be able to use the ledger wallet now on [`fd5a080`](https://github.com/fyookball/electrum/commit/fd5a080100a1ccad08ad65b6e12848cb5a382e15), granted you use the Bitcoin Cash app, not the Bitcoin Core or Bitcoin Gold app. @SteffenIvanhoe if you could test that it works on your Ledger Wallet Blue that would be great!

[2018-01-04 17:47] DarkLordGMS commented on #41
Gotcha. Yeah this sometimes happens but don't worry, it's easy to solve this.
First of all, are you able to see the current balance? If yes, do you see any unconfirmed transaction?
If no, this is what you're gonna do:

1) Select the "Send" tab
2) Enter your BCH receiving address (from a different wallet you control)
3) Set your custom fee (remember that you only need to use 1 or 2 sat/byte)
3) Cli

[2018-01-04 18:27] TimCannady commented on #41
Thanks @DarkLordGMS:

Believe it or not, I was able to get the network to stay connected long enough to broadcast a send from the wallet (the light was green for about five seconds). I've confirmed the receiving wallet has the funds.

Now that I had success with this wallet, I'm repeating the steps for a final wallet. Both held BTC during the split (mine and my wife's). Both are showing an unspent

[2018-01-04 18:41] DarkLordGMS commented on #41
That's because it's out of sync. Try this:

1) Download Electron Cash 3.0 and open it
2) Create a new wallet and wait about 5 minutes (this should be enough time to download the block headers)
3) Close Electron Cash 3.0
4) Open Electron Cash 2.9.3 and open your 2FA wallet

That should fix the "not verified" issue. If it doesn't, let me know.

[2018-01-04 19:17] marceloneil commented on #393
@2600box That's quite odd. I've tested it on a vm of debian stretch and [`protobuf==3.5.1`](https://pypi.python.org/pypi/protobuf/3.5.1) works great. Using `python3 setup.py install` downloaded all the dependencies for me (including `protobuf`), so I had to `pip3 uninstall protobuf` to replicate your issue.

[2018-01-04 21:31] fyookball commented on #414
sounds like a partial download error?  it works for me.

its also possible that someone is intermittantly screwing w the file, in which case we should upgrade servers.

[2018-01-04 21:31] #414 closed

[2018-01-04 21:31] fyookball commented on #413
sounds like a 2fa issue #41

[2018-01-04 21:31] #413 closed

[2018-01-04 21:33] fyookball opened #415 "Locktime on transaction dialouge preview"
This started showing up in 3.0.   Don't know what it is.. I assume its probably some segwit junk pulled in from Electrum.  Let's investigate and if appropriate, remove.

[2018-01-04 21:33] fyookball commented on #415
![image](https://user-images.githubusercontent.com/7663756/34585272-05d47572-f16d-11e7-8719-68fe32cc11d9.png)

[2018-01-04 21:34] DivAlec commented on #41
@DarkLordGMS
 Can you post a link to the steps you mentioned in your earlier comment?

"You have to follow the steps I posted above to recover the coins. Step by step.#41 (comment)"

Solved it with this solution by DarkLordGMS from Aug 28th (this comment had somehow been hidden before) #41 (comment)

Thanx!

[2018-01-04 21:41] DarkLordGMS commented on #41
@DivAlec Here you go: https://github.com/fyookball/electrum/issues/41#issuecomment-325228017

Also here: https://www.reddit.com/r/btc/comments/6wf50x/recovering_your_bitcoin_cash_from_a_trustedcoin/?utm_source=reddit-android

[2018-01-04 21:43] DivAlec commented on #41
Great!, will give it a try

[2018-01-05 01:32] coelhopsi commented on #414
Most likely the second option.... a corrupted/partial file wouldn't have shown up at VirusTotal as having already been submitted almost 1 month ago.

Thanks for checking...

[2018-01-05 03:05] kyuupichan commented on #415
Nothing to do with segwit; it's from original BTC

[2018-01-05 03:05] #415 closed

[2018-01-05 06:45] alexoscar opened #416 "Crashing when changing prefs"
About Electron-cash Version 3.0, for Mac, when changing in the prefs/fiat/show fiat balances for adresses it will crash each time when you change the value. Mac 10.13.2

[2018-01-05 07:07] kyuupichan commented on #416
This is fixed in master

[2018-01-05 07:07] #416 closed

[2018-01-05 07:44] HCNSDK commented on #413
Thanks!
I dont see a solution that works in  #41..
If I try to make a new wallet from seed can't choose disable 2fa
Im using version 3.0.3 running windows

Hope for some help, thanks

[2018-01-05 10:54] molecular opened #417 "trezor: we are incompatible with trezorlib >= 0.9 (now: >= 0.10)"
This is the change done in electrum to make it compatible with trezorlib 0.9 and up:

https://github.com/spesmilo/electrum/commit/dda9d4b746700bfc095c80d84f1ac5de46c5f2ca

[2018-01-05 11:52] LightSunChen opened #418 "electrum cash shows exception error when sending from Coins tab with Ledger Nano S"
electrum cash shows exception error when sending from Coins tab with Ledger Nano S

[2018-01-05 12:55] kuziozmc commented on #375
@KingParanha I have the answer from Trustedcoin. HAve a look email below. It Works for me. Good luck mate.

BCH is not supported by Trustedcoin however there are recovery options linked to on the Electron Cash website in the section labeled "What if I need support?"

Alternatively, I also created a recovery tool:

https://trustedcoin.com/static/recover/standalone.html

Where you can enter your see

[2018-01-05 15:15] kyuupichan commented on #417
The problem is it's not backwards compat.  So I suggest we wait for a while until the dust settles.

[2018-01-05 15:20] fyookball commented on #402
someone suggested 'build enivornment docker file. then everyone can use same dependencies"... is that related?

[2018-01-05 17:25] 1ib3r7yr3igns commented on #393
Thanks marceloneil!

That worked on Linux Mint, and then I copied it over and tried to start it up on Tails, however after ```./electron-cash``` I got the missing python dependency 'dns'.

As to your question, Tails has optional encrypted persistence. There is a folder located at ~/Persistence/ that will persist necessary data stored encrypted. There is also the option to persist ssh keys and gpg

[2018-01-05 18:51] nardusg commented on #406
Hi

No, it is none of the address that was generated by my seed.

Thanks

Naruds

[2018-01-05 19:03] KingParanha commented on #375
OMG thank you sooo sooo much @kuziozmc , you are a lifesaver, the recovery tool worked perfectly with electron cash version 2.9.4. For any one having the same problem i was having, once you have opened the recovered wallet from the recovery tool in version 2.9.4 of electron cash all you have to do is choose a server manually and choose the "electroncash.cascharia.com" server and you will have a pr

[2018-01-05 19:03] #375 closed

[2018-01-05 19:37] BitAlien commented on #246
I've also experienced this weird fee estimation. A transaction of 226 bytes, set to 1 satoshi per byte, gives a fee of 270 satoshis.

[2018-01-05 20:15] bcutter commented on #382
Same here. Updated from 2.9.3 to 3.1. When opening old version wallet I was asked if I´d like to convert the wallet to the new format. After yes I get "Failed to execute script electron-cash" error and application is closing. Same behaviour now on every clean start of the application. WHAT THE??? Do we need to create new wallets? **Why there´s no support, no one just telling "it´s because of this,

[2018-01-05 20:16] 94b42c29dd opened #420 "Linux Electron Cash 3.1 can't open wallet"
I upgraded Electron Cash from 3.0 to 3.1 on a debian based system. Now i can't open (any) wallet anymore, even if i just created it, the program just disappears. Everything worked fine in 3.0. This is what happens in console:
Traceback (most recent call last):
  File "/usr/local/bin/electron-cash", line 5, in <module>
    pkg_resources.run_script('Electron-Cash==3.1', 'electron-cash')
  File "/usr

[2018-01-05 20:38] KingParanha commented on #382
Check out #375

[2018-01-05 20:38] KingParanha commented on #382
It worked for me, so just give it a go.

[2018-01-05 20:43] bcutter commented on #382
So I should enter my seed - just to remind us: the MOST IMPORTANT secret - on a web page? Bad idea, isn´t it? I´ll better start from scratch, wallet didn´t contain anything.

[2018-01-05 20:43] fyookball commented on #382
Best to recreate from seed (create new wallet)

[2018-01-05 20:44] fyookball commented on #382
we also dont support 2fa, see #41

[2018-01-05 20:47] bcutter commented on #382
Beginner´s question: how to do so, if Electron Cash always starts with the existing wallet ("installation assistant")?

[2018-01-05 20:53] fyookball commented on #406
sounds like you have malware possibly

[2018-01-05 21:14] KingParanha commented on #382
I feel the best option if you really are at your last straw and u have no more options left, using the recovery tool website is the best option because thats ht eonly thing that properly worked for me without any problems.

[2018-01-05 23:13] mooncryption commented on #418
Are you on version `3.1` or `3.0`? The latest version 3.1 should have this fixed.

[2018-01-05 23:13] mooncryption commented on #412
This is BitPay's fault, and not the other way around. Make sure you update your BitPay wallet app ASAP, as the `cashaddr` new unified address format is coming soon.

[2018-01-06 00:02] JulienFavre commented on #323
I'm having the same problem when running version 3.1 on Linux:
`Error: No module named 'xmlrpclib'. Try 'sudo pip install <module-name>'`

But version 3.0 is still working perfectly, I'm not sure what's going on...
I tried installing jsonrpc and jsonrpclib-pelix but it didn't help

Any suggestions?
I'm not a coder, I have very basic knowledge of Python.

[2018-01-06 00:11] kyuupichan commented on #420
You need python 3.5 or higher. @fyookball please update the Python requirements

[2018-01-06 02:42] the-beer-engineer opened #423 "Cannot Load Wallet error in Windows (Electron Cash version 3.1)"
Hi,
I have just downloaded version 3.1 of electron cash. The first time I opened it it said it would have to update my wallets to a new format (irreversible) but upon trying to start the application after this, I get the following error:
Cannot load wallet:
No module named 'distutils'
![image](https://user-images.githubusercontent.com/35157502/34635679-d891ecac-f2de-11e7-82ce-deb7205bd3dc.png)

Sh

[2018-01-06 05:15] #412 closed

[2018-01-06 05:27] marceloneil commented on #402
I think it could make the build process a bit easier, so I'll investigate it

[2018-01-06 07:09] 1ib3r7yr3igns commented on #409
Oh thanks, I didn't realize there was an option for this already. I'm not seeing this in the preferences. Could you be more specific?

[2018-01-06 10:30] deathbybinary opened #425 "Ledger Nano S"
Trying to connect my Ledger Nano S (Firmware 1.31) to Electron-Cash 3.1 OSX

At the wizard I select New Wallet > Standard > Use HW Device > An unnamed Ledger [ledger, intialized]

And receive the error: "Exception: Invalid Channel"

Electron-Cash correctly detects I've exited the app ("Device not in Bitcoin Cash Mode" message)

If I re-run the Bitcoin Cash app on the nano I get:
'NoneType' object

[2018-01-06 10:32] DivAlec commented on #403
Many thanx @fyookball and, it was indeed #41 issue!! Had been trying for days

[2018-01-06 10:37] kyuupichan commented on #409
I removed it in 3.1; the coin chooser is privacy by default.

[2018-01-06 10:38] DivAlec commented on #41
Lifesaver! Many thanx @DarkLordGMS for making the effort to post #41. It worked like a charm! Claimed mij BCC from my 2fa Electrum wallet

[2018-01-06 10:59] DivAlec commented on #41
@DarkLordGMS: Is there also a post or proces  for claiming BTG from an electrum 2fa wallet? With or without the help of an electroncash wallet??

[2018-01-06 15:33] nardusg opened #426 "weird android electrum/elctroncash BCH wallet import issue"
Hi Guys

Hope you are well and hope I can get some help. I listened to a podcast a few days ago and realised that I do have some unclaimed BCH. I only moved my BTC a few months after the fork has happend, so after the fork, BTC was still available to get it on BCH. I installed this electroncash android app and restored my electrum wallet with my electrum wallet seed. I had about .5 BTC before the

[2018-01-06 16:07] DarkLordGMS commented on #426
Can you post the link to the app you downloaded?

[2018-01-06 16:49] nardusg commented on #426
Hi

Strait from the play store

https://play.google.com/store/apps/details?id=org.electroncash.electroncash

Ciao

Nar

[2018-01-06 16:50] DarkLordGMS commented on #426
Can you send some pictures of the wallet you made in that app?

[2018-01-06 16:59] nardusg commented on #426
![capture _2018-01-06-18-55-19](https://user-images.githubusercontent.com/29011858/34641916-acb92994-f313-11e7-9d32-eba56a9a0599.png)
![Uploading Capture+_2018-01-06-18-55-09.png…]()

[2018-01-06 18:59] dannyshmueli opened #427 "Crash: Right click on contact (Mac) Electron-Cash 3.1"

[2018-01-06 21:29] #427 closed

[2018-01-06 21:33] #381 closed

[2018-01-06 21:38] kyuupichan commented on #371
I've changed the code to assume UTF-8 in git.  Can you try there?

[2018-01-06 21:38] kyuupichan commented on #371
In master branch

[2018-01-06 21:43] Brad-R commented on #420
I encountered this problem too.  Would it be possible to have electron-cash detect the python version, and exit gracefully with a warning, rather than crashing with a flood of error messages?

[2018-01-06 21:45] kyuupichan commented on #41
@DivAlec if you have the 2 private keys of your 2FA wallet I can give it a go.  If successful though I will charge.

[2018-01-07 00:23] LightSunChen opened #428 "ElectronCash-3.1-PORTABLE Windows can't open wallet after upgrade the old wallet"
ElectronCash-3.1-PORTABLE Windows can't open wallet after upgrade the old wallet, error : Failed to execute script electron-cash

[2018-01-07 03:19] chrulri commented on #425
Same problem on Windows 10 with Electron-Cash 3.1.1. With 3.1(.0) it didn't recognize my Ledger Nano S.

[2018-01-07 03:49] marceloneil commented on #425
@chrulri the 3.1.1 release should have fixed that, are you still experiencing this issue?

[2018-01-07 03:51] chrulri commented on #425
@marceloneil Please see my edited comment.

[2018-01-07 03:53] marceloneil commented on #425
Great @chrulri ! Windows can be a hassle with usb devices sometimes, but I'm glad you got it working.

@deathbybinary I'm still working on reproducing your issue, could you try the 3.1.1 release if you have the chance?

[2018-01-07 04:26] marceloneil commented on #149
@willyloman can you try this on 3.1.1? I've tested the ledger on all distributions and it should work.

[2018-01-07 04:45] marceloneil commented on #423
@the-beer-engineer This issue was fixed in the new update 3.1.1

[2018-01-07 04:53] marceloneil commented on #269
@fyookball this shoudl be fixed

[2018-01-07 04:55] marceloneil commented on #126
@fyookball this should work now

[2018-01-07 04:56] marceloneil commented on #149
@fyookball this should work (although I'm a bit confused as to why @willyloman didn't detect his nano s, since that should have worked in 3.0)

[2018-01-07 06:51] deathbybinary commented on #425
@marceloneil I will try to reproduce as soon as a 3.1.1 OSX build is available. Thanks.

[2018-01-07 07:13] jkister opened #429 "3.1.1 crash windows10/64"
Electron cash 3.1.1 on windows10/64 will reliably crash if you try to export your private keys but click "cancel" while the "Please wait xx/xx" message is calculating.

[2018-01-07 07:47] ndamukrazed commented on #429
I'm trying to run 3.1.1 on windows 10/64 as well, and I get a warning from windows defender when I first open the .exe. I click run anyways, and then a minute later windows automatically shuts down the program and also deletes the .exe file. When I try to redownload the file, windows tells me I don't have permission to save in this location. Restarted my computer and was able to redownload, but ev

[2018-01-07 08:32] kingvest opened #430 "Show amounts with thousands separator"
Amounts should be shown with thousands separator.

When using Bits as the base unit it becomes difficult to read the exact value without a thousands separator.

**Current Format:**

2 BCH = 2000000 Bits
(hard to read)

**Expected Format:**

2 BCH = 2'000'000 Bits
(easy to read)

I believe `'` to be the best separator for thousands.

More confusing separators would be `_`, `,` or `.`

[2018-01-07 08:53] cculianu commented on #372
Hey man this has been addressed in the latest 3.1.  It should run now!

[2018-01-07 10:48] tchurch88 opened #431 "Wrong password"
Created a new wallet from private keys... encrypted it with a password. That password works to unlock the wallet but when I go to export my private keys it will not accept the same password there, or anywhere else that requires a password in the wallet. 3.1.1

[2018-01-07 12:55] Germano0 commented on #402
https://src.fedoraproject.org/rpms/electron-cash :-)

[2018-01-07 15:07] fyookball commented on #425
there is one in now @deathbybinary

[2018-01-07 18:41] jasonbcox commented on #429
I ran into something similar: When prompted to update my wallet's format from 2.x -> 3.x, I clicked cancel and electron-cash hung.  I'm not on Windows however: Ubuntu 16.04.

[2018-01-07 20:06] buffstop opened #433 "Keys export: "Not all arguments converted during string formatting""
Electron Cash Wallet v3.1.1 on OSX 10.11.6.

Exporting keys (Wallet/Private Keys/Export) -> CSV fails with the above mentioned error message.

[2018-01-07 20:26] marceloneil commented on #393
Sorry @1ib3r7yr3igns, see my revised post - I forgot to `cp -r contrib/packages .`

[2018-01-07 20:47] jonasbkarlsson opened #434 "Ledger - Confirming receiving address"
Thanks for adding Ledger support! Great!

Could you please add the possibility to confirm that the Receiving address shown in the Receive tab is actually part of the Ledger wallet? That is, the Receiving address should be possible to be shown in the Ledger device window. This is supported by the offical Chrome app for Ledger, so there should be an API call for this.

[2018-01-07 20:54] marceloneil commented on #434
I'll check it out, thanks for the suggestion!

[2018-01-07 21:44] DarkLordGMS commented on #426
That's really odd. Do you have a PC?
Try Downloading the desktop version and restore the wallet using your seed.

[2018-01-07 21:46] DarkLordGMS commented on #426
@fyookball Can you take a look?

[2018-01-07 21:50] DarkLordGMS commented on #426
It looks like the address is still sending and receiving BCH:

https://blockchair.com/bitcoin-cash/address/12FSNtEA8MKvYJZDVbWm7CNseWT8wTegRm

[2018-01-07 22:02] LightSunChen opened #435 "Electron Cash 3.1.1 Windows fiat doesn't work"
Electron Cash 3.1.1 Windows fiat doesn't work, please see pic :

![image](https://user-images.githubusercontent.com/5553519/34654637-22c42fe4-f431-11e7-80b8-aadeaedb6d04.png)

[2018-01-08 00:56] marceloneil commented on #426
Maybe it had something to do with the JSON-RPC security vulnerability

[2018-01-08 00:57] marceloneil commented on #418
If you are on windows this should be fixed as of `3.1.1`

[2018-01-08 02:25] marceloneil commented on #271
Does this issue still affect you?

[2018-01-08 02:41] patrikr commented on #271
Well, I only upgraded to 3.1.1 a couple of hours ago, but I tried it now and looks good: both a new contact and a new transaction description did stick around after a restart.

[2018-01-08 03:11] marceloneil commented on #271
That's good news! Unless the issue comes up again, feel free to close the issue

[2018-01-08 03:36] #271 closed

[2018-01-08 03:44] #433 closed

[2018-01-08 03:46] #372 closed

[2018-01-08 03:48] kyuupichan commented on #171
This is a distro issue, not an e-c issue

[2018-01-08 03:48] #171 closed

[2018-01-08 03:49] kyuupichan commented on #374
I find this hard to believe.  If you try a different server and get the same results, it's simply a fact.  You can check all the transactions on a block explorer by right-clicking them in your history.

[2018-01-08 03:49] #374 closed

[2018-01-08 03:50] kyuupichan commented on #231
This is in much better state now.

[2018-01-08 03:50] #231 closed

[2018-01-08 03:52] kyuupichan commented on #369
Electron Cash and Electrum only handle multisig HD wallets.  You need a master public key (or master private key).  Those begin with xpub and xprv.  Do you have those?

[2018-01-08 03:54] kyuupichan commented on #368
@voyagerz is this solved?  What kind of wallet is it?  We need more details otherwise this is useless.

[2018-01-08 03:56] kyuupichan commented on #393
I'm closing this - this is just a dependency issue when running from source.  You need to know how to install the dependencies; this is not something Electron Cash can help you solve in general - it's specific to your system.

[2018-01-08 03:56] #393 closed

[2018-01-08 03:58] kyuupichan commented on #357
Screenshot?

[2018-01-08 03:59] #384 closed

[2018-01-08 04:00] kyuupichan commented on #378
They have different derivation paths.  Extract the private key and import into a new Electrum wallet as @TrustyJAID explains.

[2018-01-08 04:00] #378 closed

[2018-01-08 04:08] Thrash370 commented on #369
It gives me 2 private keys and 2 public keys but doesn't say xpub or xprv.  Please tell me there is some hope to get the bch out!  Very worried

[2018-01-08 04:08] #434 closed

[2018-01-08 04:10] kyuupichan commented on #369
So it doesn't come with a seed or anything like that, this wallet?  It just creates 2 random private keys?

Your funds are accessible but would require bespoke code; Electron Cash doesn't have such code.

[2018-01-08 04:18] Thrash370 commented on #369
I get a redeem script:2 and a redeem script hex not sure if any of that is relevant.

[2018-01-08 04:22] Thrash370 commented on #369
I don't know if it helps at all but would be willing to pay a bounty of some sort to resolve this

[2018-01-08 05:19] #126 closed

[2018-01-08 05:20] willyloman commented on #149
fixed on 3.1.1, thanks @marceloneil

[2018-01-08 05:33] tchurch88 commented on #431
Still a mystery. I can open the wallet just fine with my password but nothing else accepts it. If I try to change the password I just get incorrect password warnings.

Are there any console commands I can try?

Any way to read the wallet info with another tool since I know the password?

[2018-01-08 05:43] kaczan3 opened #438 "How do I check the checksum?"
On Electron Cash homepage it says I should do it and there's a link to sums, but I don't know how to check it.

[2018-01-08 06:13] verretor commented on #384
No. You can not trust this file.

[2018-01-08 06:45] #149 closed

[2018-01-08 06:49] kyuupichan commented on #400
@grajnikanth clearly it's not possible to send multisig with a single signature, unless you provided several private keys when you restored your wallet.  I don't think this report is useable as-is.

[2018-01-08 06:56] #377 closed

[2018-01-08 07:47] deathbybinary commented on #425
@marceloneil Sadly, I still get the error: "Exception: Invalid Channel"

If I exit the Bitcoin Cash app and run the Bitcoin Cash app on the nano I get:
'NoneType' object has no attribute 'handler'

Trying a few more times I ended up getting:
"HW1 firmware version too old. Please update at ledgerwallet.com"

Is there a way to generate debug logs with the compiled version? If not, I will pull the gi

[2018-01-08 08:37] nardusg commented on #426
Yes, what really weird is, the transaction happenend almost immediately, almost like a builtin trigger.

[2018-01-08 09:03] Harewolf commented on #438
Windows, Linux, Mac?

[2018-01-08 09:11] kaczan3 commented on #438
Windows 10.

[2018-01-08 09:33] Harewolf commented on #438
https://www.nextofwindows.com/5-ways-to-generate-and-verify-md5-sha-checksum-of-any-file-in-windows-10

[2018-01-08 09:44] kaczan3 commented on #438
Thank you, I will try this.

[2018-01-08 09:57] Harewolf commented on #438
If you are using Total Commander (Double panel  file manager) You can also verify checksum as following:  copy sha256 sum to clipboard, then highlight the file You want to check, then go to menu of total commander and choose file/checksum.
Good luck!

[2018-01-08 10:02] joseluis commented on #430
I agree, but only as a visual aid. Meaning that it would be better not to include the separator when copying the amount, but just the number.

[2018-01-08 10:32] voyagerz commented on #368
Hi! Apologies for the delay, I've been traveling with limited access to wifi. No - this is still not solved and I have yet to access my BCH.  I did have the BTC before the fork on electrum and I can confirm that I am using the correct seed. The BTC wallet on electrum had a 2 factor - which for BCH it doesn't give me the option when I use the same seed, plus it prompts to continue before I type the

[2018-01-08 10:37] kyuupichan commented on #368
I see, so it's a 2FA seed.  Can you try the list of things in #41 .

[2018-01-08 11:02] jasonOramo opened #439 "please trigger a new release since the vulnerability fix by electrum team"

[2018-01-08 12:26] 1Hyena opened #440 "Electron cash 3.1.1 APK missing"
The Current Version for android binaries is still 2.9.4.1 (vulnerable). The APK download link still points to the vulnerable version. Please update those links. nobody uses windows these days anyway, so android should have been a priority.

[2018-01-08 15:49] kingvest commented on #430
@joseluis - yes, just the visual representation

[2018-01-08 17:27] mmouse- commented on #439
https://github.com/spesmilo/electrum/pull/3664

[2018-01-08 19:17] marceloneil commented on #440
There are a few critical bugs that need to be sorted out, but it is priority.

[2018-01-08 19:40] jonahar opened #442 "No module named 'httplib'"
When trying to run electron-cash I get an error
`Error: No module named 'httplib'. Try 'sudo pip install <module-name>'`
When looking for a solution online I found out that `httplib` is not the name of this module anymore in python 3, and tried to use the 2to3 tool to fix this, but without success.
Does anyone have an idea?

I used `ElectronCash-3.1.1.tar.gz` on Ubuntu

[2018-01-08 20:00] mlundyCO commented on #442
It appears the 3.1.1 tarball does not include the "packages" directory included with previous versions. Perhaps the tarball needs to be repackaged and signed?

[2018-01-08 20:37] evadogstar opened #443 "Unfortunately Electron Cash become totally unusable"
Unfortunately it become totally unusable. Last working version is 2.9.4
Then it do not rn at my Fedora 25 system, because of no of dependencies. They request TONS of dependences. I install 5-6 of then at stop on `Error: No module named 'google.protobuf'`, because there is not such package.
BTW, I do not happy with any GOOGLE modules at all, but this is unavailable at the repos.
I also know other u

[2018-01-08 21:16] mlundyCO commented on #443
It appears the 3.1.1 tarball does not include the "packages" directory included with previous versions. Perhaps the tarball needs to be repackaged and signed?

[2018-01-09 00:40] marceloneil commented on #442
Yep, the `./contrib/make_packages` command changed slightly so there was an issue with generating the `packages/` directory properly

[2018-01-09 00:44] marceloneil commented on #443
`pip3 install protobuf` should work to install `google.protobuf`

If you want to build the package from source (so you don't need to manually install dependencies)
[code]
@fyookball will have the tar.gz include the `packages/` folder soon

[2018-01-09 01:58] marceloneil commented on #425
@deathbybinary try running:
[code]
That should give us a bit more information

[2018-01-09 02:47] deathbybinary commented on #425
@marceloneil OK here's what I got trying a few of times with both Bitcoin and Bitcoin Cash ledger app:

[Plugins] loaded digitalbitbox
[Plugins] loaded keepkey
[Plugins] loaded ledger
[Plugins] loaded trezor
[DeviceMgr] scanning devices...
[DeviceMgr] scanning devices...
[DeviceMgr] scanning devices...
=> b'e0c4000000'
=> b'f026000000'
[DeviceMgr] Registering <electroncash_plugins.ledger.ledger.Le

[2018-01-09 02:49] marceloneil commented on #425
Hmm, and you said you get the error "invalid channel"?

[2018-01-09 02:51] marceloneil commented on #425
Do you have any other apps running that might be using the ledger?
Have you tested if the ledger works with the Ledger Chrome Wallet?

[2018-01-09 04:07] seby2k opened #444 "Distribute latest version on Android"
Is this a finance software that aims for security or? The version in google play is still 2.9.4 (vulnerable to jsonrpc bug and subject to theft).

The latest version on the website is 3.1.1 which removes the cors code but does not merge the latest real fix that actually password protects the interface.

The app is hanging all the time. I suggest trying to do a better job.

[2018-01-09 05:40] #444 closed

[2018-01-09 05:53] deathbybinary commented on #425
The Invalid Channel error only usually occurs the first time.

I then get errors such as 'NoneType' object has no attribute 'handler'

No other applications that use the ledger are running (that I know of). The ledger definitely works with the Chrome app, I regularly use it.

[2018-01-09 14:44] hegjon commented on #443
Just a note, it will be easier when you upgrade to Fedora 27, that version ships Electron Cash in the default repository.

https://apps.fedoraproject.org/packages/electron-cash

[2018-01-09 14:59] marceloneil commented on #425
This seems like a btchip-python problem, you may want to file an issue over there:
https://github.com/LedgerHQ/btchip-python/blob/master/btchip/ledgerWrapper.py#L55
https://github.com/LedgerHQ/btchip-python/blob/master/btchip/ledgerWrapper.py#L78

Do you know if electrum works with your ledger wallet?
I'll look into it a bit more later

[2018-01-09 15:01] chrisall69 opened #446 "Can't Deserialise Double Spend Transaction"
Using my electrum wallet I mistakenly sent BTC with too small fee, which remained unconfirmed (no confirmations at all) for a few days. To rectify this I sent to a different address with higher fee, so a deliberate double spend.

In electrum all looks good, no issues, but when I imported private keys into electron I have an issue with that transaction showing as 0 amount and the wallet will not sy

[2018-01-09 15:06] marceloneil commented on #443
Adding on to @hegjon's point, you can probably download the rpm and install it directly, although I don't use fedora so this is just a hunch.

https://koji.fedoraproject.org/koji/buildinfo?buildID=1014203

[2018-01-09 15:10] hegjon commented on #443
It will probably work, but it depends on python3-jsonrpclib that needs also be installed manually

[2018-01-09 15:13] marceloneil commented on #443
Also, the 3.1.2 release includes the `packages/` directory, so @evadogstar should be able to run it normally using that version

[2018-01-09 15:14] kyuupichan commented on #446
I don't understand - BTC and BCH split on 1st August, so your BTC transaction doesn't exist in BCH.

[2018-01-09 15:15] marceloneil commented on #442
This should be fixed in the 3.1.2 release

[2018-01-09 15:40] panaceya commented on #371
Hello!

Have another error:
[code]

[2018-01-09 16:01] chrisall69 commented on #446
Correct, but that address 16yB3fctQNGYCfWPGmwETt3wqt8vxypZEX had a balance before the split. The outputs of the later transaction include that address, and there is a BCH balance still there though the BTC is not:
https://blockchair.com/bitcoin/address/16yB3fctQNGYCfWPGmwETt3wqt8vxypZEX
https://blockchair.com/bitcoin-cash/address/16yB3fctQNGYCfWPGmwETt3wqt8vxypZEX

[2018-01-09 16:12] chrisall69 commented on #446
https://blockchair.com/bitcoin/outputs?limit=100&q=transaction_id(215922527)&s=index(asc)
https://blockchair.com/bitcoin-cash/outputs?limit=100&q=transaction_id(215922527)&s=index(asc)

The issue is that electron shows that transaction as receiving 0

[2018-01-09 16:15] kyuupichan commented on #446
So what is the relevance of the recent BTC transactions you started out talking about?

I'm quite confused.

[2018-01-09 16:17] marceloneil commented on #439
3.1.2 has been released

[2018-01-09 16:17] kyuupichan commented on #446
OK I can reproduce.  I'll take a look.  The only reason it's zero is because of the exception.

[2018-01-09 16:18] marceloneil commented on #393
This has been fixed in the 3.1.2 release

[2018-01-09 16:23] stachorsub commented on #431
I'm having exactly the same problem. Wallet opens fine, but all other password prompts produce error when using the wallet password, including sending... This happens in 3.1.2 as well. Any suggestions?

[2018-01-09 16:23] kyuupichan commented on #446
Fixed in git HEAD; balance now shows as      0.20472256

[2018-01-09 16:23] #446 closed

[2018-01-09 16:29] #269 closed

[2018-01-09 16:53] cculianu commented on #357
What MacOS are you on?

Also any debug output?

Try (from the terminal)

# /Applications/Electron-Cash.app/Contents/MacOS/Electron-Cash

and paste whatever error message it complains about.

Also try 3.1.2 and see if that works better for you!

[2018-01-09 16:55] cculianu commented on #304
Let me know if this is still happening on the latest versions!

[2018-01-09 16:56] cculianu commented on #200
I can help with this -- Jonald if you give me a higher rez icon I know how to make the Mac package use it on a retina display...

[2018-01-09 16:57] webiwoo commented on #304
Hi,

I restarted and the problem seemed to fix itself.

Thanks

[2018-01-09 16:58] webiwoo commented on #304
Thanks for the advice. I got it sorted.

[2018-01-09 17:01] cculianu commented on #304
Awesome!

Hey @fyookball  -- wanna close this issue? Whenever you get around to it... :)

[2018-01-09 17:03] webiwoo commented on #304
Will do, thanks

[2018-01-09 17:09] #304 closed

[2018-01-09 17:32] jonahar commented on #442
Is there a workaround until the new release is out?

[2018-01-09 17:44] mlundyCO commented on #442
The 3.1.2 release is out now.

[2018-01-09 19:09] jonahar commented on #442
Thanks. Issue is indeed fixed.

[2018-01-09 19:20] #442 closed

[2018-01-09 19:21] #443 closed

[2018-01-09 19:21] fyookball commented on #440
coming soon

[2018-01-09 19:21] #440 closed

[2018-01-09 19:21] #439 closed

[2018-01-09 19:25] fyookball commented on #438
7-zip has a nice sha checker too

[2018-01-09 19:25] #438 closed

[2018-01-09 19:28] #368 closed

[2018-01-09 19:28] #362 closed

[2018-01-09 19:28] fyookball commented on #362
try 3.1.2

[2018-01-09 19:29] fyookball commented on #390
try again when android 3.1.2 comes soon

[2018-01-09 19:29] #390 closed

[2018-01-09 19:31] fyookball commented on #391
ElectrumX is still the name of the server software btw.  Do you have another example?

[2018-01-09 19:52] jidanni commented on #391
OK at least it is not as bad as https://github.com/pooler/electrum-ltc/issues/133 , but wait,
github.com/fyookball/**electrum**/ needs to be rebranded... but probably too late for that.

[2018-01-09 20:27] vincentrinot commented on #369
I too am having the same issue recovering from an electrum wallet where electron cash doesnt let me press next after entering the private key... I've got the recovery seed and the private key (i have all of them, but i have the specific one where i can see my BCH on the blockchain) . Ive disabled 2FA on electrum and saved the wallet file. Upon opening that wallet file with electron cash, the progr

[2018-01-09 21:08] yurkazaytsev commented on #431
@tchurch88 , @stachorsub can you share with me the next details:
1) what type of distribution of electron-cash do you use (i mean, distro from site, building from source etc)
2) what OS do you use (Windows, Linux, etc)

[2018-01-09 21:12] andrebonini9494 opened #447 "Lost seeds!! Payment in BCH!!!"
Using "electron cash wallet", I want to send my bitcoin cash to another wallet, and I receive the error 16 because the 2 factors authentication does not work properly, I already know that I have to create another wallet to send my bitcoin cash and input my seeds to diseable the 2 factors authentication, but I HAVE LOST MY SEEDS, and from my 2.9.2 version I cannot retrieve the seeds from the applic

[2018-01-09 21:19] tchurch88 commented on #431
Windows distribution from the site.

Wallet was created with 3.1.1 and I am now on 3.1.2.

Tried with two computers, both Windows 10.

[2018-01-09 21:20] stachorsub commented on #431
I have used the portable versions 3.1.1 and 3.1.2 (ElectronCash-3.1.2-PORTABLE.exe) from the site (https://www.electroncash.org/#download) on Win 7 64 bit.
Created default_wallet with [imorted_privkey] while claiming Bitcoin Cash from Bitcoin Core. The wallet has a password and is encrypted.

[2018-01-09 21:41] tchurch88 commented on #431
My wallet was created the exact same way as stachorsub.

[2018-01-10 02:01] marceloneil commented on #418
@LightSunChen any update?

[2018-01-10 03:04] LightSunChen commented on #418
@marceloneil still don't have chance to try again yet

[2018-01-10 03:14] marceloneil commented on #418
Alright, let us know when you do!

[2018-01-10 10:23] deathbybinary commented on #425
@marceloneil FYI Still having the same behaviour with ElectronCash 3.1.2 - I am posting a new issue with LedgerHQ thanks for the pointer.

Just confirmed the Ledger Nano S IS working correctly using the Bitcoin Ledger App with Electrum 3.0.5

Here is the log output:

[Plugins] loaded digitalbitbox
[Plugins] loaded keepkey
[Plugins] loaded ledger
[Plugins] loaded trezor
[DeviceMgr] scanning devices

[2018-01-10 11:22] BarackO commented on #266
@fyookball Sorry to bother you. I also get the problem to fail to transfer with 2.9.3. And I failed when following the method by@Laza85.
![20180110-2 9 3-](https://user-images.githubusercontent.com/7850632/34770218-423be450-f63b-11e7-92e9-e3ae2cfd2122.PNG)
![20180110-step1](https://user-images.githubusercontent.com/7850632/34769970-736b33ba-f63a-11e7-8ae9-3b91f584b33e.PNG)

Firstly, I create a new

[2018-01-10 12:36] deathbybinary commented on #425
LedgerHQ responded quickly - the solution was to ensure the Browser Support setting is Off in the Bitcoin Cash Ledger app settings (v1.1.5).

Would you like me document this somewhere in case other people run into the same issue?

Thanks for all your patience! @marceloneil

[2018-01-10 12:36] #425 closed

[2018-01-10 12:42] deathbybinary commented on #430
@kingvest Interested to hear why you feel `,` is a confusing separator as it seems to be the scientific and mathematical standard in most countries IE: `2,000,000`

[2018-01-10 13:28] livestalker commented on #431
Same problem. How fix it?

[2018-01-10 13:30] yurkazaytsev commented on #431
@livestalker will make a pull request soon.

[2018-01-10 13:56] shwimmy opened #450 "BCH to Electron-Cash"
I have sent BCH to Electron Cash as suggested by a fellow online user. However I am unable to verify receipt of the BCH.  I am a total newb when it comes to Electron-Cash.  I just downloaded the software yesterday.

I am seeing the inputs however it is telling me that the transaction is unrelated to my wallet.

Please help.

[2018-01-10 13:59] yurkazaytsev commented on #435
@LightSunChen Do you use portable version? Can you check it in 3.1.2 release?

[2018-01-10 14:10] shwimmy commented on #450
I know the address that I sent the BCH to and I know the address that I sent the BCH from as well as all security characteristics of the wallet that moved the BCH from.   I guess i really just do not know how to properly navigate Electron-Cash yet.

[2018-01-10 14:37] Ringo982 opened #451 "BCH Fork on 13th Jan"
Hi to all!
I've just be informed that on 13th of Jan there will be a BCH fork, and for each BCH owned we will receive 1000 CDY.
I would like to know if Electrum Cash will support this and what i need to do to be sure to receive CDY.
Thank you!!

[2018-01-10 15:27] fyookball commented on #451
I think Electron Cash will remain a BCH-only wallet for the near future at least.

Maybe open another issue in a month as a reminder, I can take a look at how to claim

[2018-01-10 15:27] #451 closed

[2018-01-10 15:28] fyookball commented on #450
confused how you are 'seeing the inputs'.  screenshot?

[2018-01-10 15:29] fyookball commented on #447
i think you have to contact trustedkey if you lost your 2fa access and dont have the seed.  See #41

[2018-01-10 15:49] shwimmy commented on #450
I am showing the inputs into the wallet and also an output.
![screen shot 2018-01-10 at 10 48 06 am](https://user-images.githubusercontent.com/35299990/34781434-d16d426a-f5f3-11e7-9fcb-37b1221e4e62.png)
![screen shot 2018-01-10 at 10 48 06 am](https://user-images.githubusercontent.com/35299990/34781461-e223b04e-f5f3-11e7-9152-bbf09b252605.png)

[2018-01-10 15:56] fyookball commented on #426
malicious apps can do that , did you have any weird apps?

[2018-01-10 16:00] shwimmy commented on #450
Sorry about posting the screenshot twice

[2018-01-10 16:12] shwimmy commented on #450
I am showing the inputs into the wallet and also an output.
![screen shot 2018-01-10 at 10 48 06 am](https://user-images.githubusercontent.com/35299990/34782586-2e66bf5c-f5f7-11e7-9289-3927373a4f5a.png)

[2018-01-10 16:22] shwimmy commented on #450
Again I am very new here and I know that I am probably overlooking something very simple....

Could this be of help to you in helping me?

![screen shot 2018-01-10 at 10 48 06 am](https://user-images.githubusercontent.com/35299990/34783060-7ccbda00-f5f8-11e7-8ed9-971c2e8cdd24.png)

[2018-01-10 16:22] shwimmy commented on #450
Again I am very new here and I know that I am probably overlooking something very simple....

Could this be of help to you in helping me?

![screen shot 2018-01-09 at 11 38 05 pm](https://user-images.githubusercontent.com/35299990/34783101-9a5d7574-f5f8-11e7-9bf3-60b49f3f2e48.png)

[2018-01-10 16:37] shwimmy commented on #450
@fyookball Can you take a look?

[2018-01-10 16:49] fyookball commented on #450
you just loaded a signed transaction.  but is your addresses that you are interested in showing up in your wallet ?

[2018-01-10 19:10] shwimmy commented on #450
Correct

[2018-01-10 19:10] shwimmy commented on #450
I am having trouble actually seeing this transaction in my wallet

[2018-01-10 19:27] fyookball commented on #450
is this address 1KtSD......nfKY in your wallet?

[2018-01-10 19:28] fyookball commented on #370
#41 for all 2fa support.

[2018-01-10 19:28] #370 closed

[2018-01-10 19:29] #400 closed

[2018-01-10 20:25] jonasbkarlsson commented on #434
Thanks!

It took a while to find it. I almost gave up. But eventually I found it in the Addresses tab. :-)

Now, for usabillity reasons, this needs to be in the Receive tab as well. How about adding another icon next to the "Copy to clipboard" icon?

Also, you need to get the Ledger people to support the Cash address format...

[2018-01-10 20:26] marceloneil commented on #434
Will do!

[2018-01-10 20:27] marceloneil commented on #434
Will do!

[2018-01-10 20:49] marceloneil commented on #435
I was able to reproduce this using some black magic on linux, I'm looking into it

[2018-01-10 21:38] evadogstar opened #453 "Unfortunately Electron Cash become totally unusable #2"
Related to closed:
https://github.com/fyookball/electrum/issues/443

I'm sorry, but nothing changed with 3.1.2 version. It do not use depencences from package directory? Why?

[2018-01-10 21:49] marceloneil commented on #453
The log you are referencing says

are you sure you are using the 3.1.2 version?

[2018-01-10 21:51] evadogstar commented on #453
Yes.
[code]

[2018-01-10 21:55] marceloneil commented on #453
Hmm, that is very odd. Can you try `ls packages`? There should be a folder called "google", which contains protobuf. Also maybe try `(sudo) pip3 install protobuf`

[2018-01-10 21:56] evadogstar commented on #453
[code]

[2018-01-10 22:07] marceloneil commented on #453
That's really odd, I'm able to run it on debian with no dependencies installed other than python3 and pyqt5. Maybe try uninstalling protobuf?

[2018-01-10 22:10] evadogstar commented on #453
I will try.
How to check them python really try to load something from `packages` directory? Any simple script? I guess it not. Is it default name of directory that python check for dependencies before exit with the error?

[2018-01-10 22:15] marceloneil commented on #453
I believe there is a line in `electron-cash` which adds the `packages` directory to the python path:
https://github.com/fyookball/electrum/blob/master/electron-cash#L52
[code]

[2018-01-10 22:16] marceloneil commented on #453
Maybe you could add a print statement or something in there to verify that the correct directory is being added to the path?

[2018-01-10 22:16] evadogstar commented on #453
Yes. I'm already found it. How to print? print_msg(os.path) does not print. At this line it does not know `print_msg` function

[2018-01-10 22:18] marceloneil commented on #453
Try this:
[code]

[2018-01-10 22:19] evadogstar commented on #453
`['/home/user/Electron Cash-3.1.2/packages', '/home/user/Electron Cash-3.1.2', '/usr/lib64/python35.zip', '/usr/lib64/python3.5', '/usr/lib64/python3.5/plat-linux', '/usr/lib64/python3.5/lib-dynload', '/usr/lib64/python3.5/site-packages', '/usr/lib/python3.5/site-packages']
`

[2018-01-10 22:20] marceloneil commented on #453
Alright, so you have `'/home/user/Electron Cash-3.1.2/packages'` in your pythonpath, meaning python should detect `google.protobuf` in there. But yet it doesn't

[2018-01-10 22:22] evadogstar commented on #453
I will try to move all files from `packages` to `/usr/lib64/python3.5/site-packages`

[2018-01-10 22:28] evadogstar commented on #453
Maybe some issue with python cache? Or any other ideas?...

[2018-01-10 22:28] marceloneil commented on #435
Ok, it seems like "history rates" is a bit broken. So a temporary solution in order to restore basic fiat features is to go to your config file (`%appdata%/Electron Cash/config`, or something like that) and remove the line `"history_rates": true`. Enabling "Show history rates" will break it again.

[2018-01-10 22:30] marceloneil commented on #453
I'm really unsure, my only suggestion would be to try reinstalling python/dependencies. Have you tried running `sudo python3 setup.py install`?

[2018-01-10 22:38] evadogstar commented on #453
I will try.
p.s. Maybe it can not load google.protobuf, because google directory wothout files and python does not search at subdirectories...

[2018-01-10 22:40] marceloneil commented on #453
Does the google folder contain a folder called protobuf?

[2018-01-10 22:40] evadogstar commented on #453
`sudo python3 setup.py install` does not help :(

[code]

[2018-01-10 22:40] evadogstar commented on #453
yes

[2018-01-10 22:45] evadogstar commented on #453
[code]

[2018-01-10 22:51] marceloneil commented on #453
Can you import any other packages that are in your `/usr/lib/python3.5/site-packages` directory?

[2018-01-10 22:51] evadogstar commented on #453
Okey. Found.
When I define it at the `electron.cash` like `packages.google.protobuf` it trying to load, but exit with the same error, but at the file
[code]

[2018-01-10 22:55] marceloneil commented on #453
This is so confusing

[2018-01-10 22:57] evadogstar commented on #453
Looks like it's wrong way, maybe...
[code]

[2018-01-10 23:05] marceloneil commented on #453
That code works on most systems, so it makes me think there is something different about your distro/setup/python

[2018-01-10 23:07] evadogstar commented on #453
Maybe gogle dir must contain ` __init__.py` ?

Editing PATH - no results :(
[code]

[2018-01-10 23:08] marceloneil commented on #453
There is no `__init__.py` in my `google/` dir, but there is in `google/protobuf`

[2018-01-10 23:10] evadogstar commented on #453
And are you sure that at you system it loaded from `packages` directory and not from the other system directory?

[2018-01-10 23:12] marceloneil commented on #453
On my debian vm yep, but it doesnt matter because you also installed it on your system

[2018-01-10 23:13] evadogstar commented on #453
I'm on fedora...

[2018-01-10 23:13] marceloneil commented on #453
Have you tried installing the fedora package?

[2018-01-10 23:14] marceloneil commented on #453
I can try whipping up a fedora vm later, what version?

[2018-01-10 23:15] evadogstar commented on #453
fedora 25

[2018-01-10 23:17] marceloneil commented on #453
Thanks

[2018-01-10 23:18] evadogstar commented on #453
Thanks you. Please, do not close ticket for some time. Maybe somebody know how to fix it

[2018-01-10 23:50] Human108 opened #454 "'receive' requests ledger"
Hi,

I've just installed 3.1.2. on a Mac running HighSierra 10.13.2. When I create a receive request and save it, then quit the application and re-open it, the save request disappears from the ledger. One request is for a live receive transaction (currently 1 confirmation). Please advise if this is a known bug? And if it's somehow possible to resurrect the 'receive' requests ledger? I am concerned

[2018-01-11 00:18] marceloneil commented on #453
If you install protobuf using `pip3 install protobuf` and are unable to import it using python, this issue is fairly independent of electron cash. I would suggest opening an issue elsewhere or trying stackoverflow, because I'm not super familiar with what's causing the issue.

[2018-01-11 00:25] evadogstar commented on #453
@marceloneil Okey! Thanks.
p.s. not happy that Electron Cash have some dependencies from google at all. I do not trust this company. I think that if it's possible to stay away from them then it always most be done.

[2018-01-11 00:26] marceloneil commented on #453
@evadogstar I don't blame you, but remember it is FOSS! https://github.com/google/protobuf

[2018-01-11 00:38] #450 closed

[2018-01-11 03:11] ryanrf99 opened #455 "Electron cash won't connect to any servers. Version 3.1.2"
I just created my wallet not too long ago, but it seems to be having a problem connecting to servers as my wallet continuously says not connected. I looked up this problem online and a suggestion was to manually choose a server which I tried to do, unfortunately to no avail. A different solution would be great!

[2018-01-11 03:16] ryanrf99 commented on #455
Was using vpn on my laptop, turned vpn off, problem solved.

[2018-01-11 03:16] #455 closed

[2018-01-11 03:16] tomsmyname opened #456 "verifying Electron Cash 3.1.2"
Likely I'm making a beginner's error but the SHA256 hash I generate of electroncash-3.1.2(1).exe using Hash Generator v5.5,  (f450e488b4592175db5c47feb13b11bbc229b767776ba0117c1e21bfdb2dc1d8), doesn't match the ElectronCash-3.1.2.exe.sig SHA256 hash which begins with "ff" and ends with "ad".   Can someone please help me understand why that is?  Thanks.

[2018-01-11 03:59] #208 closed

[2018-01-11 03:59] #435 closed

[2018-01-11 03:59] #420 closed

[2018-01-11 06:22] fyookball commented on #456
Sigs and hashes are two different things.  You don't need both, either are a good way to verify.
The hash you wrote is exactly what I have , here:

https://github.com/fyookball/keys-n-hashes/blob/master/sigs-and-sums/3.1.2/win-linux/SHA256.ElectronCash-3.1.2.exe.txt

If you want to verify the sig, you use gpg.

[2018-01-11 06:22] #456 closed

[2018-01-11 06:27] fyookball commented on #453
@evadogstar i believe protobuf is only used for payment request (invoices) submodule.

[2018-01-11 09:42] hegjon commented on #453
Do you know if you are able to updating to the latests Fedora? Fedora 27 ships Electron Cash in their default repository.

[2018-01-11 10:10] joseluis commented on #430
@deathbybinary in my country we use the dot `.` for thousands separator and the comma `,` for decimals. When a software doesn't allow to customize that locale settings it can get very annoying.

[2018-01-11 10:41] evadogstar commented on #453
@fyookball So, it's safe to disable `import` of if someone other will have the same problem and will find this ticket? thanks

@hegjon I'm on Qubes OS and there are default Fedora 25 template, but I found that new template already available (Fedora 26). I'm not sure about updating it to Fedora 27 is a good idea. Yes, it's possible, because it's virtual machine, but I'm not sure that it will work w

[2018-01-11 11:20] tamm2001 commented on #431
I am also having this problem.  Created wallet from electrum private keys.  I can log in with password fine its when I try to send transaction I keep getting "incorrect password" error; I am using the same password I just logged in with.  Is there a way to temporarily disable password? Thanks.

[2018-01-11 11:31] yurkazaytsev commented on #431
@tamm2001 the problem solved in the last commit. I suppose it remains in windows version. You can try to do this steps in the app console  for now (go to **view/show console** for it):
[code]
Let me know if it helps

[2018-01-11 11:43] tamm2001 commented on #431
It worked!  Thank you!!

[2018-01-11 13:42] tomsmyname commented on #456
Thanks!

[2018-01-11 14:06] livestalker commented on #431
Cool! It is work! Thanks!

[2018-01-11 14:07] #431 closed

[2018-01-11 14:15] fyookball commented on #453
@evadogstar i dont know, you'd have to test it and possibly remove references to it, but i am fairly sure that it is not needed for the main functions of the wallet.

[2018-01-11 14:16] #453 closed

[2018-01-11 15:09] #447 closed

[2018-01-11 15:10] #382 closed

[2018-01-11 15:11] fyookball commented on #391
we'll clean up "electrum" as we see it.  👍

[2018-01-11 15:11] #391 closed

[2018-01-11 15:11] fyookball commented on #361
fixed in 3.1.3

[2018-01-11 15:11] #361 closed

[2018-01-11 15:12] fyookball commented on #355
sorry for late reply, sounds like 2fa issue see #41

[2018-01-11 15:12] #355 closed

[2018-01-11 15:13] fyookball commented on #353
Try 3.1.2 , and let me know if still a problem.

[2018-01-11 15:13] #353 closed

[2018-01-11 16:41] jamescrypto commented on #355
How dowe fix this issue?

On Jan 11, 2018 7:12 AM, "fyookball" <notifications@github.com> wrote:

[2018-01-11 16:55] marceloneil commented on #453
@evadogstar I actually have qubesos somewhere so I might try to reproduce your issue. Otherwise maybe try creating a new vm, or use a different template (maybe debian?). You're issue is pretty confusing

[2018-01-11 17:53] marceloneil commented on #430
Thoughts about a space as a seperator? Ie. `2 000 000`

[2018-01-11 18:16] marceloneil commented on #429
I was able to reproduce @jkister's issue on linux
@ndamukrazed look at #335

[2018-01-11 20:18] evadogstar commented on #453
@marceloneil Thanks. I'm already updated template to Fedora 26, now it works! Yes, issue at Fedora 25 was really strange. Unexpected python work.
p.s. QubesOS very good! I suggest it for every day use
p.p.s. Thanks for your time and help!

[2018-01-11 21:22] divingtime opened #459 "Electron Cash 3.1.2 dependency issues"
I have been using and enjoying Electron Cash, but the 3.1.2 update won't install properly on my Debian Jessie setup.  Let me paste in my terminal printout followed by the root log showing the errors.  I believe I have the latest and greatest python stuff running.  BTW -- the latest electrum installed easily on this same Debian VM.  I think you guys use the same python dependencies.  Looking for su

[2018-01-11 21:51] divingtime commented on #459
I also noticed there is a no package thread running on 3.0 from awhile ago.  I don't see where that was ever handled here.  On the surface it sounds like the same issue, although I am doing a full install.

[2018-01-11 21:59] rt121212121 commented on #430
Electron should follow a standard approach.  That should be , and . based on locale.  There would be standard ways of doing this.  Taking a custom approach for something where there is a standard approach results in a feeling of lower quality.

[2018-01-11 22:43] stachorsub commented on #431
@fyookball @yurkazaytsev ... the console commands suggestion above did not work for me using 3.1.2 on Windows or on iOS. Here is the trace I get when running the first update_password command:

Traceback (most recent call last):
  File "/Users/admin/Desktop/Electron-Cash.app/Contents/Resources/lib/python36.zip/electroncash/keystore.py", line 164, in check_password
  File "/Users/admin/Desktop/Elec

[2018-01-11 22:59] marceloneil commented on #453
My pleasure, enjoy electron cash!

[2018-01-11 23:26] rt121212121 commented on #371
Can you provide a wallet file which when imported causes this error?

[2018-01-11 23:43] #429 closed

[2018-01-12 01:47] stabwah commented on #340
Added in PR https://github.com/fyookball/electrum/pull/462

[2018-01-12 01:49] stabwah commented on #357
Launching with

`/Applications/Electron-Cash.app/Contents/MacOS/Electron-Cash -v`

can also provide some more information

[2018-01-12 01:52] stabwah commented on #200
MacBook Pro Retina 15" 2013:
<img width="67" alt="screen shot 2018-01-12 at 12 51 20 pm" src="https://user-images.githubusercontent.com/35254939/34856119-76c162f6-f797-11e7-9c8a-3a79be79b4ac.png">

and Dark: <img width="64" alt="screen shot 2018-01-12 at 12 51 27 pm" src="https://user-images.githubusercontent.com/35254939/34856108-6de6228e-f797-11e7-8c35-4e44182a43ce.png">

[2018-01-12 03:09] marceloneil commented on #459
Can you format this using the "```" code tags?

[2018-01-12 03:43] chrisall69 commented on #446
Thank you, much appreciated, confirmed all working now.

Cheers,

On 10 January 2018 at 00:23, Neil <notifications@github.com> wrote:

[2018-01-12 05:38] jamescrypto opened #464 "hi can someone help me recover my bch im getting a error"
I send it like normal it looks like its about to send then ill get this error. ( I've attached a photo)

this was my coins I received when btc forked and bch started.

thank you for your
![electrum cash errer](https://user-images.githubusercontent.com/34698113/34861158-a6f992c0-f717-11e7-8838-546fc6997e10.png)
 help

[2018-01-12 12:22] yurkazaytsev commented on #431
@stachorsub it should be resolved in v3.1.3. Let me know If it fails again in your case and we discover it again.

[2018-01-12 13:09] kaczan3 opened #466 "Exception: invalid channel - NanoS"
I get this error when trying to send BCH from my Electron with Nano S. When I created the wallet I was also getting some errors about the devide being used by another app, but when I closed the browser, everything was fine.

[2018-01-12 13:23] kaczan3 commented on #418
I can't send coins either, in both 3.1.1 and 3.1.2.

[2018-01-12 13:28] marceloneil commented on #418
@kaczan3 are you using Windows? Are you getting an error of some sort?

[2018-01-12 13:34] marceloneil commented on #466
Make sure that you are using the ledger "Bitcoin Cash app" (you should be able to download it using the Ledger Manager) and under settings for that app "Browser support" is disabled.

[2018-01-12 13:34] kaczan3 commented on #418
Yes. There was a popup with Exception: invalid channel. The dot in the bottom right was red. Later I was getting read error. And after many tries and tinkering it worked and I managed to send all my BCH to an exchange. Is my Nano Broken?

When starting this wallet I also got some weird errors saying nano is used elsewhere and some others I think.

[2018-01-12 13:43] kaczan3 commented on #466
Yes, it seems the browser support being on was the problem. Even though I thinkk I tried that before, but I'm not sure. So it's safe to transfer the funds back?

BTW, I almost deleted the BCH app from nano, wanting to reinstall it. Would that delete they keys and I'd lost access to my BCH?

[2018-01-12 13:46] marceloneil commented on #466
No, you should be safe to remove and add apps, they all derive keys from the same 24 word phrase. There is a page on the ledger zendesk about that I believe, so you don't need to trust me :)

[2018-01-12 13:47] kaczan3 commented on #466
Oh, I keep my 24-word phrase safe, so if any problems with Nano S arise, I'll never lose my money, as long as I have that?

[2018-01-12 13:48] marceloneil commented on #466
Correct!

[2018-01-12 13:48] kaczan3 commented on #466
Thank you!

[2018-01-12 13:50] marceloneil commented on #466
@deathbybinary wrote some documentation for using the ledger with Electron Cash, so hopefully that will help future users :)

[2018-01-12 14:04] marceloneil commented on #464
From https://electroncash.org/

Can you upgrade to a more recent version?

[2018-01-12 14:14] marceloneil commented on #466
@kaczan3 If you were able to receive and send without any issues please let me know and close the issue :)

[2018-01-12 14:51] mariansoban commented on #459
Same issue for me,
for
`sudo python3 setup.py install`

I'm getting

[code]

Before installation of Electron Cash, I've run:

`sudo apt-get install git dirmngr python3-pyqt5 python3-setuptools`

which includes some sort of pyqt5.

My environment: Clean Ubuntu 16.04.3 64bit
Any hint's how to fix this issue?

[2018-01-12 15:03] kaczan3 commented on #466
Please wait a bit. Blocks are slow, so my tx got stuck on the way to Binance. When it gets there I'll try to send it back and make sure everything works.

[2018-01-12 15:58] kaczan3 commented on #466
OK, everything seems to be working fine. Thank you.

[2018-01-12 16:01] marceloneil commented on #466
Great!

[2018-01-12 17:40] jamescrypto commented on #464
i also downloaded the new version 3.1.2 on a different computer and it let me enter my seed but it was not detecting my seed. i confirmed all spelling and checked twice.

[2018-01-12 17:45] #466 closed

[2018-01-12 20:33] mariansoban commented on #459
In the end I was able to fix missging pyqt5 dependency as follows:
[code]

[2018-01-12 21:49] asuarezbravo commented on #41
I had some BCH in eletron cash 2.9.2 in a 2fa wallet. Today I tried to send them to another address and got an error. I have tried import seen in newer version, import private keys, etc without any luck. Any ideas?

[2018-01-12 21:55] DarkLordGMS commented on #41
Is it a 2FA wallet? Check the address that has your coins. Does it start with 3?

[2018-01-12 21:58] asuarezbravo commented on #41
Yes, it is a 2FA wallet.

[2018-01-12 23:32] Sem6000 commented on #369
If you want to just pull the funds out, then here is a guide:

First of all you should get from security settings of you block.io profile: "Redeem Script Hex", and two private keys. (actually you will have some more strings and values but only these three required to claim your BCH).

After that:

Go to http://www.motelmaya.com/BCH/BCH.html

Make sure to remove your BTC from your block.io wallet b

[2018-01-13 00:43] stachorsub commented on #431
@yurkazaytsev thanks for the confirmation. Any chance of having access to a beta / pre-release version of 3.1.3 Windows software (or iOS or both)? I'd be keen to verify that the fix works ahead of the production release..

[2018-01-13 01:26] fyookball commented on #340
@stabwah ty

[2018-01-13 01:26] #340 closed

[2018-01-13 01:32] fyookball commented on #464
#41 for all 2fa issues.   All discussion/support/comments must go there if you still need help.  Closing.

[2018-01-13 01:32] #464 closed

[2018-01-13 01:34] fyookball commented on #459
weird that this just started happening, doesnt seem related to Electron Cash though, is it?

[2018-01-13 05:40] marceloneil commented on #418
@LightSunChen If the error reads "Invalid Channel", make sure that Browser Support is disabled for the bitcoin cash app

[2018-01-13 06:11] kaczan3 commented on #418
Thank you, this solved my problem.

[2018-01-13 08:25] yurkazaytsev commented on #431
@stachorsub  you can try to build it from source if you familiar with python and linux. Can yuo share the type of address you want to import? is it starts from 1?

[2018-01-13 10:04] stachorsub commented on #431
@yurkazaytsev I was hoping to try an existing windows beta build.. Unfortunately I don't have the environment to build from python source. The address I imported indeed starts with 1. The issue I'm actually having is not the import, but sending the imported coins. I'm trying to send the coins which requires password validation and that is the part that is failing with "invalid password". In other

[2018-01-13 14:30] francis16 opened #467 "Electron-Cash 3.1.2 / Debian 9 : GUI doesn't start after upgrade"
Hello,

I run from the Electron-Cash root directory.
First execution : OK. It upgraded my wallet. I exited properly.
Further execution : the GUI doesn't show.
I noticed that when I click on Quit in the GUI, it exists but a process stays active :
python3 /usr/local/Electron-Cash/electron-cash.
If I kill this process I can log again in Electron-Cash.
This did not happen with 2.9.4 (python2).

Thanks

[2018-01-13 17:52] fyookball commented on #467
it shouldnt keep happening though as the upgrade is a one time thing

[2018-01-13 17:52] #467 closed

[2018-01-13 17:53] #423 closed

[2018-01-13 17:53] fyookball commented on #380
we will do a website makeover in next few weeks , thanks for reporting

[2018-01-13 17:53] #380 closed

[2018-01-13 21:22] DarkLordGMS commented on #41
Hello everyone,

I just updated the instructions to recover your Bitcoin Cash from your TrustedCoin 2FA Bitcoin wallet.

Why? Because the older version required you to use an old version of Electron Cash.
That version is vulnerable to a critical exploit that can be used to steal your cryptocurrency and I don't want you to lose them. The recovery method changed a bit but the result will be the same

[2018-01-13 21:52] marceloneil commented on #454
2FA is not currently supported, because electrum uses [trustedcoin](https://api.trustedcoin.com/#/) for 2FA which doesn't support BCH.

[2018-01-13 23:17] asuarezbravo commented on #41
This worked like a charm. Thank you so much!

[2018-01-14 00:23] fyookball commented on #454
#41 for workarounds related to recovering funds stuck in a 2fa wallet.

[2018-01-14 00:29] #454 closed

[2018-01-14 01:00] marceloneil commented on #200
It seems to work fine on a 1024x768 mac vm
Light: ![light](https://user-images.githubusercontent.com/6353492/34911621-510fe4aa-f89c-11e7-8b5e-bb12f9bf33fb.png)
Dark: ![dark](https://user-images.githubusercontent.com/6353492/34911624-57c60392-f89c-11e7-8e9f-8f516cfbdfaa.png)
However, there seems to be no transparancy in the actual application icon:
![black-background](https://user-images.githubuser

[2018-01-14 03:16] tjin92 opened #469 "0 BCH outputs should not be produced"
In Electrum, when you spend the entire balance of a UTXO (including all outputs and fees), it will know to not produce a change address:

![clipboard23](https://user-images.githubusercontent.com/5661419/34912421-2fcb79f4-f8af-11e7-9c2b-ee911555df3c.png)

However, in a similar situation Electron Cash will produce a change output of 0 BCH, causing the transaction to be rejected by the network as dus

[2018-01-14 04:00] kyuupichan commented on #469
This was fixed by https://github.com/fyookball/electrum/commit/9bf3b81fa28b627dc52c9d1609c31dd2965d0f01

[2018-01-14 04:00] #469 closed

[2018-01-14 09:16] cculianu commented on #200
You know -- all this time I thought it was supposed to look like that.

Hey @fyookball  -- what's the icon actually supposed to look like?  Like that? Or with a transparent background?  Let me know if it should be transparent as I think I can just replace the icon.rc file or whatever in the next build!

[2018-01-14 15:58] fyookball commented on #200
The "B" is supposed to be white, and the circle is supposed to be transparent.  The "black bars" on top and bottom also supposed to be transparent (actually not part of logo but if there is extra space in an image of that size it must be there to take up the space, so that would be transparent.   But sometimes when you view images on certain programs, transparent will show up as black.

@cculianu

[2018-01-14 16:14] #286 closed

[2018-01-14 16:16] fyookball commented on #201
Will mark as enhancement so rotation can be done at future time.   From what I understand it is not a trivial change.

[2018-01-14 16:16] #201 closed

[2018-01-14 16:16] #346 closed

[2018-01-14 16:20] fyookball commented on #339
i cant recreate this.  what do you mean styled?  I pasted some bold and italic and appeared plain.  Doesn't seem to be an issue.

[2018-01-14 16:20] #339 closed

[2018-01-14 21:36] fyookball commented on #357
no response from OP, closing.

[2018-01-14 21:36] #357 closed

[2018-01-14 21:50] #418 closed

[2018-01-14 21:52] fyookball commented on #386
done.

[2018-01-14 21:52] #386 closed

[2018-01-14 21:53] #426 closed

[2018-01-14 22:27] Olorin22 opened #470 "I can't sign transactions offline on mac osx"
Hi there, Just tried to sign a bitcoin cash transaction using electron cash v3.1.2 on mac os x 10.11.6. I load the transaction file on my offline computer and the sign button is not highlighted, thus not "pushable". Do you have a fix for this? There are basically NO cold storage light wallet for bitcoin cash at the moment, and electron cash doesn't seem to live to the job.

[2018-01-15 01:50] fyookball commented on #470
we'll look into it.  can you try signing offline with 2.9.4 ?

[2018-01-15 01:51] fyookball commented on #428
try creating new wallet from the same seed

[2018-01-15 01:51] #428 closed

[2018-01-15 01:52] cculianu commented on #470
Hi -- I'm the Mac guy on this project.  I'll look at you tomorrow and hopefully can recreate it and hopefully can fix it!  We may be able to get a build out quickly.  Be patient!

[2018-01-15 01:53] fyookball commented on #295
couldnt recreate in 3.1.2. i assume its fixed.

[2018-01-15 01:53] #295 closed

[2018-01-15 01:54] fyookball commented on #246
fees are mostly fixed in 3.1.2

[2018-01-15 01:54] #246 closed

[2018-01-15 02:04] fyookball commented on #430
"I agree, but only as a visual aid. Meaning that it would be better not to include the separator when copying the amount, but just the number."

How would that be possible?  Most of the time when most people copy, they mouse over something and copy it.

Overall, I'm not sure adding comma separators is worth it.  Sounds like a lot of work for little benefit, and especially if people can't agree on

[2018-01-15 02:13] marceloneil commented on #430
You could have a copy button

@kyuupichan did mention that the code around comma separators and such is pretty messy, so it does sound like a lot of work

[2018-01-15 03:52] imaginaryusername opened #471 "Android client cannot send max"
Version: 3.1.3 off apk
Android version: 7.0

Whenever I hit "send max" the client simply crashes without warning.

[2018-01-15 07:37] imaginaryusername opened #472 "Multisig + Send max amount: weird dust issue"
Only tried in desktop (Linux 3.1.2): Tried to empty a multisig (2-of-2) wallet to two separate addresses using the CSV format. Calculated fees and payment amounts to leave exactly zero satoshi, but the transaction generated keep getting a zero-amount (!) output, making it impossible to broadcast due to dust. Similar transaction that does not attempt to empty wallet does not have that problem.

[2018-01-15 07:39] kyuupichan commented on #472
It's fixed in github; not sure if in most recent release

[2018-01-15 07:39] #472 closed

[2018-01-15 07:40] kyuupichan commented on #282
Fixed in github

[2018-01-15 07:40] #282 closed

[2018-01-15 11:41] Olorin22 commented on #470
Hi , Thanks for the replies. @fyookball : no i didn't try with previous version, just with the latest, i.e. 3.1.2.
@cculianu thanks for your help, I am a super patient guy !
Just to further share some of my thoughts: I was pissed by ledger nano S a couple of days ago as I realized they were not broadcasting my low fees BCH microtransactions on the network ( 6 unconfirmed transactions so far...). I

[2018-01-15 12:34] fyookball commented on #430
will mark this as enhancement and may decide to do later.

[2018-01-15 12:34] #430 closed

[2018-01-15 12:39] fyookball commented on #417
is this fixed in 3.1.2 ?

[2018-01-15 13:36] sgbett opened #473 "Opening bitcoincash: prefix from a URL causes error"
I updated a site to use the new bitcoincash prefix for a donation address eg

`<a href='bitcoincash:qzkhnlsarkfaz7653jt2rr29ek9fgzkx35huugd4t3'>bitcoincash:qzkhnlsarkfaz7653jt2rr29ek9fgzkx35huugd4t3</a>`

When I click on the URL, I'm asked if I want to allow this page to open Electron Cash, which I do but I then get the following error:

Invalid bitcoincash URI:
QByteArray.__contains__(): argument

[2018-01-15 14:25] cculianu commented on #470
Hi -- I can't reproduce this behvior on my Mac.  I can save tx's, load them, sign them.  I'm also on 10.11.6.

You know the "sign" button goes gray if the tx is **_already_** signed, right? Are you sure the tx isn't already signed?  Do you see a "broadcast" button that's not gray?  If the broadcast button is not gray (and the sign button is gray) -- the tx was already signed!

You are loading the

[2018-01-15 14:59] Olorin22 commented on #470
Hi, Just sent the file. I generated it with electron cash on the "online" computer by importing the public key of my "offline" wallet, thus creating a "watch only" wallet, and then clicking on send->preview->save on USB. I could not have possibly signed it as the private key of that wallet is in another computer, the one I try to use to sign it, without success as the sign button doesn't work. Any

[2018-01-15 15:53] cculianu commented on #200
@gheemath please provide more information -- we are unable to reproduce this issue.

This also looks like it was on pre-Qt5 Electron Cash.  Qt4 was weird about icons on Mac.   I would say close this issue, @marceloneil / @fyookball

[2018-01-15 15:56] cculianu opened #475 "Cannot create "watch-only" (Online) Wallet using bitcoincash: (cashaddr) format addresses"
It only lets you paste in regular legacy address format Public addresses, not the new bitcoincash: bech32 based addresses.  Steps to reproduce.

1. On a VM or having backed up your ~/.electron folder and renamed it, run Electron-Cash
2. Say you want to use a public/private key and you get the dialog to paste public and/or private keys
3. The "OK" button stays grayed for CashAddr (Bech32) style add

[2018-01-15 16:08] rawb0t opened #476 "Verifying a message still required legacy-style address format."
Tools->Sign/verify message

When verifying, even with CashAddr format turned on in preferences, Electron Cash returns "Invalid Bitcoin Cash address" when using a CashAddr address.

[2018-01-15 16:12] fyookball commented on #200
fixed

[2018-01-15 16:12] #200 closed

[2018-01-15 16:24] fyookball commented on #475
thanks for reporting and sure, try to fix...also see 476

[2018-01-15 18:01] cculianu commented on #470
I was able to reproduce this and I don't think it's a macOS specific issue from the looks of it.

To reproduce:

1. create a deterministic seeded wallet on machine 1
2. xfer some BCH to machine 1 wallet
3. on machine 2, create a watch-only wallet on the address that is on machine 1
4. on machine 2, create an unsigned tx, save it
5. copy the tx to machine 1, open it.  Machine 1 thinks it's not a ke

[2018-01-15 18:59] fyookball commented on #470
Calin Culianu, [15.01.18 13:55]
he did something non-standard

Calin Culianu, [15.01.18 13:55]
he created a bip32 wallet on the offline (signing) machine

Calin Culianu, [15.01.18 13:55]
and then exported the key

Calin Culianu, [15.01.18 13:56]
the PRIVATE key

Calin Culianu, [15.01.18 13:56]
to 1 address

Calin Culianu, [15.01.18 13:56]
then he imported the key into another watch only wallet as

[2018-01-15 19:01] cculianu commented on #470
MORE INFO: Wallet 1 on machine 1 is BIP32 based (xpub key nonesense)
Wallet 2 on machine 2 is basically an imported keystore where he pasted in the private key (not the xpub seed key, just the private key).

Wallet 1 *should* realize wallet 2 is creating a tx it has the key for (using key type 'fd'), but Wallet1 only likes key types 'ff' if it's Bip32 based.  The code that fails to recognize it is

[2018-01-15 19:10] Olorin22 commented on #470
Sorry, but I exported and pasted the Public key of my offline wallet (machine 1), not the private key, in order to create a watch only wallet on machine 2. I pasted this 12FNeYp9KCVjg9cZk4mc3o8sR3HFQqXfAk which is indeed a public key ( i successfully sent transactions to that adress ).

[2018-01-15 19:11] cculianu commented on #470
Here's the workaround:

As a workaround -- you should create a "watch only" BIP32 based wallet on the online "wach only" machine.

Here is how you do it:

On the offline Signing Machine:

1. Go to Wallet->Information
2. Copy the "Master Public Key" (starts with 'xpub')

On the online Watch-Only machine:

1. Close Electron Cash
2. Rename your ~/.electron-cash folder to a backup, and type (in Termin

[2018-01-15 19:13] cculianu commented on #470
@Olorin22  yeah sorry i meant to say public key. Sorry.  Fixed.

[2018-01-15 19:47] cashrul opened #477 "Installing Electron on Linux"
So I've read the guide but without adding the following line it wouldn't install:

apt install git dirmngr python3-pyqt5 python3-setuptools

However after installation I get the following:

Processing dependencies for Electron-Cash==3.1.2
Searching for pyqt5
Reading https://pypi.python.org/simple/pyqt5/
No local packages or download links found for pyqt5
error: Could not find suitable distribution

[2018-01-15 19:54] Olorin22 commented on #470
Ok, I followed through the workaround and used the Master public key xpub to open a watch only wallet on machine 2 and succesfully created, signed and broadcast the transaction which i received in my bitcoin.com wallet. So the workaround works, but maybe it is just the way i should have done it in the first place as suggested by fyookball? Neverthesless, what i was intending to do with my wallets

[2018-01-15 20:14] Olorin22 commented on #470
But still maybe there is some debugging to do in order to be able to do the same by just importing a raw public key, not just the masterkey, don't know. I have another question: the master public key can be public right? As far as i know, it only allows for the generation of all public adresses attached to the master private key ( or seed) that was used to create the wallet in the first place, but

[2018-01-15 20:33] cculianu commented on #470
You're welcome. Yeah.. I mean, honestly you did exactly what I would have done. I could see myself getting hit by this bug, TBH.

This taught me a lot about tx formats though -- Bitcoin (Cash) is intricate! :)

Hopefully I or someone else will figure out a fix..

[2018-01-15 21:09] fyookball commented on #470
https://github.com/spesmilo/electrum/issues/2897

"online address + offline seed setup is not implemented; and there is no user-friendly way to implement it"

[2018-01-15 21:16] haplo commented on #387
A Debian package would also make using Electron Cash in Tails easier, see #171.

[2018-01-15 21:28] hegjon commented on #477
What Linux distribution and what version of it are you running?

[2018-01-15 21:30] hegjon opened #478 "Missing signature file for 3.1.3"
[code]

[2018-01-16 00:12] Olorin22 opened #479 "Running electron cash on a raspberry pi 3"
Hi there!
I would like to set up an electron cash cold wallet in a raspberry Pi 3 computer. I intend to use the Rpi3 as the "offline computer", so it needs to be able to generate the (public, private) key pairs from a seed and sign transactions generated from an online "watch only" computer.
Did someone ever try this and thus could provide me with some guiding lines?
I think this could be very nic

[2018-01-16 00:51] marceloneil commented on #479
I'm not sure how compatible electron cash is with ARM based systems (like the raspi), but it works on android so I'd assume you could get it to work without too many issues. I'm curious about what issues you were experiencing on linux mint, do you think you could provide the debug log? Also as a side note, electron cash supports the ledger hardware wallet (at least the nano S and blue).

[2018-01-16 00:52] marceloneil commented on #478
The 3.1.3 release was only really for android, so @fyookball elected not to build/sign a desktop version. There were no very imporant changes to the desktop version except for a few minor bug fixes.

[2018-01-16 01:03] togra87 opened #480 "Accidentally swept Bitcoin Cash to Watch-Only Wallet"
Hi there! I took my seed from bread wallet an created keys with bip39-standalone tool. With my generated public key I created a watch-only wallet in electrum cash. Then I did a sweep with my generated private key from bread wallet to claim 2.5 BCH in electrum cash. I can see the 2.5 BCH in the balance bu as I can't spend them (watch-only), they seem to be stuck in the watch-only wallet. And as I d

[2018-01-16 01:41] Olorin22 commented on #479
Thanks for the reply Marcel!
Ok i will paste here the error log, but I'm curious about electron cash-ledger nano s pairing: do you mean that you can use the ledger nano S to send transactions through electron cash rather than using the ledger wallet app on chrome? If yes, I didn't knew it and I'm very eager to learn how to do that. Here is the log:
./electron-cash ( last working command, opens the

[2018-01-16 01:49] marceloneil commented on #479
@Olorin22 You need to use python 3.5 or higher, so if you're running something lower than that its likely the cause of your error.

Ledger wallet support is outlined here: https://github.com/fyookball/electrum/blob/master/plugins/ledger/README.md

[2018-01-16 02:06] patrikr opened #482 "On startup, every transaction from August 26th onward is "Not Verified""
When I start EC 3.1.2 (and previous versions) all transactions from August 26th 2017 onward have "Not Verified" in the Date field, until I connect to a server. (I connect through Tor, so if Tor Browser isn't running the client stays like this forever.)

I suspect something isn't saved that should be, and has to be re-downloaded on each connect?

[2018-01-16 02:10] marceloneil commented on #480
If you created a watch-only wallet using a public key generated from a private key that you own, you should be able to recover the funds

[2018-01-16 02:17] marceloneil commented on #482
Thats odd.

The blockchain headers sync to a file called `~/.electron-cash/blockchain_headers`, and you can check the currently synced block height by accessing the "Network Tool" go to tools>network or click the green/red orb in the bottom right.

The current height as of writing this is 513113, and your blockchain headers should persist throughout sessions.

Maybe try removing `~/.electron-cash/

[2018-01-16 02:20] marceloneil commented on #473
Hmm, it seems to work for me, maybe it's macos specific? Does electron cash crash, does a dialog popup or is it simply in the log?

[2018-01-16 02:30] sgbett commented on #473
Suspect macOS specific too.

Electron is fine it just pops up a dialogue that I can dismiss and go about my business...

<img width="852" alt="untitled 77" src="https://user-images.githubusercontent.com/1105029/34969137-34942c80-fa65-11e7-935c-c8aa8276d823.png">

[2018-01-16 02:33] patrikr commented on #482
This is a Windows 8 laptop, is C:\Users\Patrik\AppData\Roaming\ElectronCash the correct path to that file? The size of the file is 41 049 280 bytes, how big should it be by now?

The last transaction that shows a date on startup is included in block 482568 (2017-08-25 04:33 UTC) and shows 171 confirmations.

[2018-01-16 02:36] marceloneil commented on #482
Yeah thats the correct directory, my file is also `41 049 280 bytes`, so that should be correct. Is there anything interesting when you open the network tools within electron cash?

[2018-01-16 02:45] patrikr commented on #482
I don't see anything strange, other than that it says "Blockchain: 482738 blocks" on startup.

[2018-01-16 02:48] daveheap opened #483 "bitcoin cash stuck in watching only wallet"
I tried to transfer out bitcoin cash to my wallet but did not realise that my Electrum Wallet would only accept BIT COIN.
After waiting and watching 2 days I realised this mistake and opened an Electron Cash Wallet and was able to receive the bit coin cash into a watching only wallet, by importing the electrum address.

NOW after researching many things I am unable to do anything with this bitcoin

[2018-01-16 02:53] marceloneil commented on #482
What do you mean it says that on startup? Is there a popup or something?

[2018-01-16 02:54] patrikr commented on #482
No, I opened the Window and looked.

[2018-01-16 02:56] marceloneil commented on #482
Oh in the network tools

[2018-01-16 02:56] marceloneil commented on #482
Are you disconnected from the internet? Do you have any connected nodes?

[2018-01-16 03:00] patrikr commented on #482
??? - Like I said in the very first post, everything is OK once I connect, so of course I'm connected to the Internet.

[2018-01-16 03:06] marceloneil commented on #482
I just wanted to verify, what does it say under "Connected Node", and node heights

[2018-01-16 03:08] patrikr commented on #482
Let's see if this works, trying to Ctrl+V a screenshot in here:
![image](https://user-images.githubusercontent.com/802611/34970129-3e5bb420-fa7b-11e7-8c45-b8d0d092a2c9.png)

[2018-01-16 03:10] marceloneil commented on #482
Ok, so the reason that you are behind is because you aren't connected to any nodes. Are you able to connect to any tor or non-tor nodes?

[2018-01-16 03:10] patrikr commented on #482
And after starting Tor:
![image](https://user-images.githubusercontent.com/802611/34970171-7bca5cc6-fa7b-11e7-913b-4a85c7f8f439.png)

[2018-01-16 03:11] marceloneil commented on #482
Ok, thats expected, so you said that rebooting it _without_ tor put you behind again?

[2018-01-16 03:13] marceloneil commented on #482
So you're saying that if you restarted, it would go back to block 482738?

[2018-01-16 03:13] patrikr commented on #482
Yes.

[2018-01-16 03:14] marceloneil commented on #482
And you've tried backing up and removing the `blockchain_headers` file?

[2018-01-16 03:14] marceloneil commented on #483
Can you create/restore a new wallet with electron cash and input your private key? Make sure that you are running the verified release from https://electroncash.org/

[2018-01-16 03:15] patrikr commented on #482
I haven't tried removing it, because it's up to date (as we already determined) and being updated with every new block.

[2018-01-16 03:18] marceloneil commented on #482
Yes, but there is a chance that there might be an incorrect header in that file, that _somehow_ is being overlooked when you reconnect. It would be nice if you could get a log, but I'm not quite sure how to do that on windows

[2018-01-16 03:30] patrikr commented on #482
Hmm, I opened the config file and see this line:
"blockchain_index": 478559,
What does that mean?

Anyway, I renamed blockchain_headers to blockchain_headers.bak now and restarted. Syncing...

[2018-01-16 03:35] fyookball commented on #483
is it a 2fa wallet @daveheap

[2018-01-16 03:36] marceloneil commented on #482
Thats a good catch, it seems like `blockchain_index` was put in place for the bitcoin/bitcoin cash fork in order to verify users where using the right chain. Try backing up your config and removing that, I'll bet that does something

[2018-01-16 03:36] fyookball commented on #480
is it a 2fa wallet @togra87

[2018-01-16 03:40] #478 closed

[2018-01-16 03:42] fyookball commented on #480
im unclear how you created a watch only wallet? Where did you get the xpub to create it in the first place

[2018-01-16 03:45] patrikr commented on #482
Removing blockchain_headers did NOT work, same issue still. I'm not going to start deleting random things in the config. 478559 is the fork block, I found out.

[2018-01-16 03:47] fyookball commented on #482
sounds like you got a bad block maybe from an old electrumx server running abc 0.15... i would just start over an reinstall after backing up wallet files and seeds.

[2018-01-16 03:59] patrikr commented on #482
I just re-downloaded all the block headers, so if that's the case I got the same bad block again...

I'll probably switch to the portable version at some point, hopefully the problem goes away then.

[2018-01-16 04:03] togra87 commented on #480
Hi, thanks for your fast answers. I used bread wallet for iOS before and only had a seed (12 words). This seed I entered in bip39 stand-alone tool to generate public keys and private keys. Than I took the public extended key (xpub) and created a wallet in electron-cash OS X where I did a sweep with the generated private key. It’s not 2FA. Does that answer your questions?

[2018-01-16 04:05] marceloneil commented on #480
You should be able to create a new wallet and enter your private key to access the funds

[2018-01-16 04:06] daveheap commented on #483
Thanks for your replies, tried the following 2 things:

1) New / Restore -> create "Standard Wallet" -> use public or private key -> create keystore from a master key "to create a spending wallet, please enter a master private key" ->  pasted the private key that belongs to the previous ELECTRUM BITCOIN address but it doesn't work, "Next" button is greyed out

2) New / Restore -> Import Bitcoin ad

[2018-01-16 04:09] togra87 commented on #480
I think the mistake was to sweep/claim the bitcoin cash into a watch-only wallet. When I want to transfer the balance from my wallet the signate and broadcast buttons are grayed out. That feels so bad...

[2018-01-16 04:12] togra87 commented on #480
When I create standard wallet and enter the private key (from brad wallet) it shows the old wallet where balance is zero because of transaction to the watch-only wallet. Problem is that you can create a watch-only wallet without getting a private key or seed.

[2018-01-16 04:13] marceloneil commented on #480
But the watch only wallet was create from the public key, which was derived from the private key that you own.

[2018-01-16 04:16] togra87 commented on #480
Yeah, that’s right.

[2018-01-16 04:18] marceloneil commented on #480
:/

[2018-01-16 04:23] togra87 commented on #480
Why can I create a watch only wallet without getting a seed and then sweep coins in there if it’s impossible to get them out again. I don’t get the use case behind. It’s like throwing money in a black hole, that’s crazy, isn’t it?

[2018-01-16 04:31] marceloneil commented on #480
Usually people own the wallet that they are watching, (which in this scenario it seems you do as well, so you should be able to recover your funds)

[2018-01-16 04:50] togra87 commented on #480
Oh, I found another advise: The Header Bar says: Electron Cash 3.1.1. - wallet_name (imported_addr, watching only). That means I set up the watch only wallet like this:

- File > New/Restore
- Entered wallet name and pressed "next"
- Import Bitcoin addresses or private keys
- Entered Bitcoin address from old bread wallet
- Wallet > Private keys > Sweep
- Entered Private key from old bread wallet
-

[2018-01-16 06:29] cculianu commented on #470
Good find @fyookball !  👍

It's not implemented but there's no technical reason why it shouldn't be.

The fix for it is about 3-5 lines of code.

Someone here made a fixed-tree:

https://github.com/goblin/electrum/tree/fix_2897

I can implement this if you want. His fix is actually was what I was working on as my approach too. It just gives me confidence my approach was ok (I was reading up on Bip

[2018-01-16 07:38] cculianu commented on #470
OK created pull request #484  -- tested and works.  Recommend merging so our wallet can be the best!

[2018-01-16 09:44] #471 closed

[2018-01-16 09:45] kyuupichan commented on #479
Closing - you need more recent python

[2018-01-16 09:45] #479 closed

[2018-01-16 11:08] kyuupichan commented on #470
Hold on, it's not entirely surprsiing this is unsupported.  I'm not averse to doing something sensible though, but I'm not a fan of the scanning.  Why not just find the address in the wallet?

[2018-01-16 11:11] kyuupichan commented on #480
I've read this but it's very unclear.  You're going to have to be more clear, including what the tool does.  If you have a seed and the address was generated from the seed, you will be able go get it back.  But we don't support people doing random things - not really fair to expect us to help resolve all the arbitrary things people go and do.

[2018-01-16 11:29] #473 closed

[2018-01-16 11:30] kyuupichan commented on #473
I've pushed what I believe is a fix for this.  I hope someone who has this issue can try reproducing it from source.  My web browser doesn't attempt to open Electron Cash for some reason.

[2018-01-16 11:34] kyuupichan commented on #475
Huh?  I tried to create a watch-only wallet and it worked fine.  Your step 2 and 3 are too vague to reproduce.

[2018-01-16 11:55] sgbett commented on #473
going to attempt to build this to test (haven't done so before, fingers crossed!)

[2018-01-16 12:02] Danconnolly commented on #477
I'm getting it on Ubuntu 17.10.

[2018-01-16 12:11] #476 closed

[2018-01-16 12:15] cculianu commented on #470
You need the public and private key in the keystore class anyway to sign.  To get it you have to figure out which of the sequence the public address is.  Only way to do it is to scan, AFAICT.

[2018-01-16 12:29] Danconnolly commented on #477
On Ubuntu 17.10, using `sudo pip3 install PyQt5` worked for me.

[2018-01-16 12:30] cculianu commented on #475
Hey man I am not sure if you deleted this message but I updated the
instructions to reproduce: you need top copy/paste the bitcoin address to
the watch-only wallet as opposed to the Bip32 pubKey Seed.. if that makes
sense.

So watch-only wallet signs a tx with public key type 'fd' based on the
bitcoin address (and not the public key seed).

But offline signing wallet expects key type 'ff' (which e

[2018-01-16 13:01] kyuupichan commented on #470
The wallet has a list of the addresses - we should use that.  Scanning is a hack - what if the address is number 1000?  Generating 1000 addresses is very expensive.  And you never know if you've gone far enough.

If it's in the wallet we should use it, and that doesn't require a scan.  Otherwise fail like now.

[2018-01-16 13:23] fyookball commented on #482
did you try deleting recent_servers file?

[2018-01-16 13:24] fyookball commented on #480
WHy not just create a new wallet with the bip39 seed?

[2018-01-16 13:40] fyookball commented on #477
env issue.

[2018-01-16 13:42] molecular commented on #222
Well, zyo2012 says on reddit that electrum doesn't suffer from this issue. I think it's worth looking into. It's hard to reproduce, but he's willing to help.

@zyo2012 are you on linux? If so, can you try starting electron-cash with the "-v" flag and see at what point in the debugging output it "freezes"?

[2018-01-16 13:44] fyookball commented on #369
doesnt sound like an Electron Cash bug.

[2018-01-16 13:44] #369 closed

[2018-01-16 13:59] marceloneil commented on #482
OK, I can reproduce this error when I use the server `bitcoincash.quangld.com`
@patrikr I would suggest switching nodes

[2018-01-16 14:02] fyookball commented on #482
and delete recent servers.

[2018-01-16 14:02] #482 closed

[2018-01-16 14:19] Olorin22 commented on #479
python3.5 -V
Python 3.5.2

[2018-01-16 14:22] marceloneil commented on #473
Still works for me

[2018-01-16 14:35] marceloneil commented on #479
Does running `python3.5 electron-cash` still give you the same error?

[2018-01-16 14:55] Olorin22 commented on #479
I got this, even after having tried the suggestion in the end:
olorin@holocron ~/Desktop/Bitcoin et cryptos/Cold storage/Electron Cash-3.1.2 $ python3.5 electron-cash
Error: Could not import PyQt5 on Linux systems, you may try 'sudo apt-get install python3-pyqt5'

[2018-01-16 14:56] marceloneil commented on #479
You need to install pyqt5

[2018-01-16 15:01] Olorin22 commented on #479
It is strange, in my software manager, it says that python3-pyqt5 ( Python 3 binding for qt5) is installed !

[2018-01-16 15:38] togra87 commented on #480
Sorry guys for wasting your time, I thought you're the only experts around and as no one else could help me so far, I wanted to give it a try... If someone can help to get my 2,5 BCH I would send over 0,5 BCH just to say thank you, maybe thats fair enough?

@fyookball Creating a new wallet with the old seed doesn't work because the sweep transferred all BCH to the new "imported_addr, watching only

[2018-01-16 16:13] maxocoin opened #485 "Gets stucked synchronizing 40 private keys"
I created a wallet with 40 BTC private keys,  the transactions go back to 2013

After a while synchronizing (some times 2 minutes, sometimes 20 minutes) it throws an exception on the console and everything looks fine but I don't get any more notifications about new transactions coming in.

I left the Electrum open over night and it didn't finish the synchronization process.
The error in the consol

[2018-01-16 16:21] marceloneil commented on #485
@fyookball this looks like an address formating issue with old transactions, possibly caused by the cashaddr update?

[2018-01-16 17:39] fyookball commented on #480
@togra87 we are trying to help you, but it is not clear what you did.

If you have a bip39 seed, you should be able to recover any funds from those addresses.  I think we are all on the same page as far as that goes.

But it sounds like you created ANOTHER address which you then swept the funds to.  How did you create that other address?

[2018-01-16 17:49] marceloneil commented on #479
Can you take a look at #477?

[2018-01-16 18:09] fyookball commented on #479
what command are you running to get the error above

[2018-01-16 18:10] fyookball commented on #470
@cculianu yeah but like it was mentioned, how do you know how far to scan?

[2018-01-16 18:17] Olorin22 commented on #479
I'm pretty stuck here...i'm not managing to install pyqt5

[2018-01-16 18:21] fyookball commented on #479
what command did you use to get this:

File "/home/olorin/Desktop/Bitcoin et cryptos/COld storage/Electron Cash-3.1.2/lib/daemon.py", line 304, in init_gui
self.gui.main()
File "/home/olorin/Desktop/Bitcoin et cryptos/COld storage/Electron Cash-3.1.2/gui/qt/init.py", line 251, in main

is this linux?

[2018-01-16 18:22] Olorin22 commented on #479
I run ./electron-cash from the folder. Yes it is linux.

[2018-01-16 18:55] fyookball commented on #479
did you try python3 electron-cash

[2018-01-16 18:59] Olorin22 commented on #479
python3 electron-cash
Traceback (most recent call last):
  File "electron-cash", line 373, in <module>
    d.init_gui(config, plugins)
  File "/home/olorin/Desktop/Bitcoin et cryptos/Cold storage/Electron Cash-3.1.2/lib/daemon.py", line 304, in init_gui
    self.gui.main()
  File "/home/olorin/Desktop/Bitcoin et cryptos/Cold storage/Electron Cash-3.1.2/gui/qt/__init__.py", line 251, in main
    if

[2018-01-16 19:09] fyookball commented on #470
The more I think about this, the more I think we shouldn't try to hack to fix this, but maybe instead update the help docs and/or the tooltip.

[2018-01-16 19:19] cculianu commented on #470
@fyookball , @kyuupichan  -- you guys are right.  The hack sucks, but is better than nothing.

I did a non-hack hack, where it actually gets the sequence number from the wallet address list.

See #484, which has been updated.

Leet me know what you think!

[2018-01-16 20:22] fyookball commented on #284
seeems fixed in latest version.  I tested with ä character in wallet name.

[2018-01-16 20:22] #284 closed

[2018-01-16 20:24] fyookball commented on #371
looks very similar to #284 which appears fixed.  Closing.

[2018-01-16 20:38] fyookball commented on #470
Seems you are allowing it to follow a unique code path in this case @cculianu ? I looked at it and general idea seems ok, .. would like @kyuupichan to review.

[2018-01-16 20:45] johnconger opened #486 "Unable to start electron-cash connected to testnet"
electron-cash  --testnet
----stack trace----
ValueError: not enough values to unpack (expected 3, got 1)

Running in verbose mode shows....
electron-cash  --testnet -v
[SimpleConfig] electron-cash directory /home/usr/.electron-cash/testnet
[get_server] unexpected EOF while parsing (<unknown>, line 0)
[Plugins] registering hardware digitalbitbox: ('hardware', 'digitalbitbox', 'Digital Bitbox wallet

[2018-01-16 20:57] curt0 opened #487 "Transaction Would Not Confirm and then it Disappeared"
Last week, I exported the private keys from my offline Electrum wallet to an Electron Cash wallet.  In addition, I created two additional Electron Cash wallets: offline wallet and online “watch only”.

On the online computer, I sent some small amounts of BCH back and forth from the first Electron Cash wallet to the “watch only” wallet.  These worked fine.

Then I tried to send the remaining balanc

[2018-01-16 21:00] fyookball commented on #470
@kyuupichan see this chat I had with @cculianu for clarity on his fix:

CCul, [16.01.18 15:49]
like in a deterministic wallet

JF, [16.01.18 15:49]
but if he isnt using an xpub on the online watching wallet, how  does he get a sequence?

CCul, [16.01.18 15:49]
he doesn't!

CCul, [16.01.18 15:50]
soit generates a different format txn...

JF, [16.01.18 15:50]
ok ...  so then what does the offline do

[2018-01-16 21:00] zyo2012 commented on #222
I still experience problem:

Here is the benchmark.
~4 second to get the dialog asking for password. (fine)
Then I guet this "Non responding windows" for **2 minutes and 10 seconds**!!

![image](https://user-images.githubusercontent.com/3308951/35012062-612d67cc-fad6-11e7-90d7-6f8f118f0f36.png)

[2018-01-16 21:03] fyookball commented on #487
which version are you on, for starters?

[2018-01-16 21:05] fyookball commented on #486
is this latest 3.1.2. ?

[2018-01-16 21:11] fyookball commented on #222
i'll try creating a wallet with 1000 transactions.

[2018-01-16 21:13] cculianu commented on #475
Huh.. this works fine in the latest off master!

On the released build (3.1.2) on my mac it fails with cashaddresses but works ok with regular bitcoin addresses.

Works fine when using the git off master.

Investigating why this would be... (if it's related to the build itself or if the code's changed recently or what)!

[2018-01-16 21:29] curt0 commented on #487
3.1.2

[2018-01-16 21:49] cculianu commented on #475
Ok well I'm closing this issue.  It 100% definitely happens on the released build (on macOS I tested it). Can't import cash public addresses.

Doesn't happen on the current sources -- doesn't happen when I build for macOS on the current sources, so it's not related to building.

I'm assuming some of the code's changed with the validation of address input or whatever.  Since it now works -- closing

[2018-01-16 21:49] #475 closed

[2018-01-16 21:53] johnconger commented on #486
The problem occurred under 3.0 - I attempted to upgrade to 3.1.2 and got an installation error

Processing dependencies for Electron-Cash==3.1.2
Searching for pyqt5
Reading https://pypi.python.org/simple/pyqt5/
No local packages or download links found for pyqt5
error: Could not find suitable distribution for Requirement.parse('pyqt5')

-- I attempted to re-install pyqt5 with

sudo apt-get install

[2018-01-16 21:56] fyookball commented on #487
it the tx confirmed now on the blockchain?

[2018-01-16 22:00] fyookball commented on #483
private key is likely in wrong format.  I am able to import private key with:

New / Restore -> Import Bitcoin addresses or private keys - Import Bitcoin Addresses - pasted the private key

[2018-01-16 22:32] fyookball commented on #486
does it work on non testnet now or just doesnt work?

[2018-01-16 22:33] robbie0630 opened #488 "addrequest errors out with "not JSON serializable""
Running Electron Cash 3.1.2 on Linux from the tarball on the website. After starting the daemon and loading the wallet, I try to run addrequest and get the following error:

[code]

[2018-01-16 22:41] johnconger commented on #486
It's not working at all.  I'm getting a pyqt5 error.

electron-cash
.....
pkg_resources.DistributionNotFound: The 'pyqt5' distribution was not found and is required by Electron-Cash

but when i
sudo apt install python3-pyqt5

i get
python3-pyqt5 is already the newest version (5.5.1+dfsg-3ubuntu4)

I wasn't getting this problem on 3.0

[2018-01-16 22:54] johnconger commented on #486
Okay I worked through the PYQT5 problem and now i am NOT getting the error when trying to connect to testnet.  So I'm going to consider this problem solved.  Thanks for your help.

[2018-01-16 23:07] curt0 commented on #487
I don't think so.  It still does not appear on the wallet.  I do not know how to get it to appear.

FYI, Electron Cash is selecting server automatically.  I closed and opened Electron Cash to change the server.  Server is electron cash.cascharia.com.  I manually changed it to cash.checksum0.com and the missing transaction still does not appear.  I changed it to electrum-bch.adminsehow.com and it w

[2018-01-16 23:13] fyookball commented on #487
your network color is still red?  sounds like firewall / anti virus issue then.

should be green.

[2018-01-16 23:16] #486 closed

[2018-01-16 23:18] kyuupichan commented on #475
Sorry I have no idea; don't recall touching anything related to this recently

[2018-01-16 23:25] kyuupichan commented on #479
https://docs.python.org/3.5/whatsnew/3.5.html

Shows hex() is in 3.5.  So somehow your invocation is not running 3.5

[2018-01-16 23:45] #488 closed

[2018-01-16 23:46] kyuupichan commented on #488
I think that fixes it.  If you can test it would be good; re-open if there is still a problem.

[2018-01-17 00:01] #485 closed

[2018-01-17 00:01] kyuupichan commented on #485
@maxocoin I think this is fixed in git head - please cofirm

[2018-01-17 00:56] curt0 commented on #487
The network color is green.  It went red when I manually selected electrum-bch.adminsehow.com as the server.  For the servers selected automatically, the network color is green.  I tried electrum-bch.adminsehow.com to see if the missing transaction will appear, but it does not, especially when Electron Cash cannot connect to electrum-bch.adminsehow.com.

[2018-01-17 00:59] fyookball commented on #487
could have been a transaction sent with dust limit issue.  i think that may have been patched. was it using very small outputs or something?  Sounds like some nodes have it and some don't.  Maybe try sending from the same outputs if you dont have it and set the fee slightly higher.  Not sure what to tell you

[2018-01-17 01:12] curt0 commented on #487
The first 3 transactions that I sent were small and they worked.  This fourth transaction, which disappeared, had 6 inputs and 2 outputs and the outputs were not small.

How do I send from the same outputs?  How high should the fee be?  Is there a guideline, such as 1 sat/byte for transactions up to 300 bytes, 2 sat/byte for transactions up to 600 bytes, etc.?

Yes, it does seem that one node, min

[2018-01-17 01:15] fyookball commented on #487
create a new wallet with the same seed, and do not connect to that troublesome node.  then just send again from the same addresses you were sending from before

[2018-01-17 01:23] curt0 commented on #487
I assume you mean address (singular).  I'll provide the same "Receiving address" from the receiving wallet to the sending wallet.  I'll let you know how it goes.

Can you respond to **MINOR ISSUE** and **IMPORTING PRIVATE KEYS VERSUS OPENING/CONVERTING ELECTRUM WALLETS** in the OP?

[2018-01-17 01:28] curt0 commented on #487
From which of the above wallets should I get the seed, to create a new wallet?  The first one with the BCH balance imported from Electrum?  Or, the new, second wallet?

[2018-01-17 01:35] johnconger opened #489 "Unable to create unsigned (payTo) transaction on testnet"
1. Created a watch wallet using a public key by using:
`electron-cash restore -w Wallet.dat --testnet xpub6BsbTaAioD5rDYtV6jS7GcGJvk5cdvBQRPcuGJeWZY7dd6dx8Q4j4Fv5ff3KiYTfzBnhk1bPq7urDf4NJaxFesKFbgSA1fjUNjVgErnVvvS`

2. Funded address mxsChhTQuCMYoskd8eH4kV2YgvABqkdS7C from above wallet using faucet.
3. Started the daemon with: `electron-cash --testnet daemon start`
4. Loaded the wallet: `electron-

[2018-01-17 01:39] #411 closed

[2018-01-17 01:39] marceloneil commented on #411
Closing this for right now, but I'll be looking into how nodes operate a bit more in the future, there are a few finicky things going on sometimes

[2018-01-17 01:49] marceloneil commented on #489
I was able to reproduce this

[2018-01-17 02:36] marceloneil commented on #486
Yep, testnet was fixed in #397 (3.1 and onwards)

[2018-01-17 03:16] joware commented on #489
same issue here

[2018-01-17 03:19] daveheap commented on #483
thanks for this fyookball and totally agree our bitcoin private key is almost certainly in wrong format to put into an elctroncash wallet -
However we don't have any other private keys - any other ideas on this ?

[2018-01-17 03:58] dbernt commented on #488
I had the same problem, tried the fix and it works.

[2018-01-17 04:32] dbernt opened #492 "rmrequest always returns false and does nothing"
In lib.wallet.remove_payment_request() the addr parameter and the keys in self.receive_requests are of different types so comparisons between them never result in equality.

[2018-01-17 11:22] CryptDo opened #493 "Unable to withdraw BCH from wallet - "incorrect password" when none exists"
Hello,

I can't get my 5.22 BCH out of my wallet and the recently imported 5.26 BCH do not show up (but the fee was taken out.) The wallet was upgraded to the latest a few days ago, but same result.

The wallet was created by importing a private key. Subsequently I swept a couple of paper wallets with no problem. But the last two, above, I get that error. There is no password and if I try to add o

[2018-01-17 12:19] stachorsub commented on #431
@yurkazaytsev @fyookball quick update.. I built the windows 3.1.3 binaries from source with the latest updates/fixes done by @yurkazaytsev and I still get the same "Incorrect password" error when sending or trying to reset the wallet password. This error is preventing me from doing enything with the Bitcoin Cash in the wallet. The wallet balance is positive, history of imported/received BCH is the

[2018-01-17 13:05] #492 closed

[2018-01-17 13:06] kyuupichan commented on #492
I think this is now fixed.  I don't use payment requests myself so it's likely other things with them are still broken from the cashaddr changes.

[2018-01-17 13:31] fyookball commented on #487
Please create a separate ticket for each issue because otherwise its very hard to communicate.

[2018-01-17 13:36] fyookball commented on #487
From which of the above wallets should I get the seed, to create a new wallet? The first one with the BCH balance imported from Electrum? Or, the new, second wallet?

Whichever wallet you are trying to send from.  What I am saying is that if the TX appears and disappears intermmitantly, it may be a bad tx that wont get relayed because of fees or dust or whatever, so the solution is you just connec

[2018-01-17 14:10] molecular commented on #222
It might be interesting to see the debeugging output during and right before the "freeze".

I think there is a "debug mode" binary for windows? (sorry, I use linux only)

[2018-01-17 14:14] fyookball commented on #493
i am confused what you're saying.  Sounds like several issues?  First, do you see the correct balance?

[2018-01-17 14:17] fyookball commented on #483
https://cashaddress.org/  (go to wallet details)

best to use offline if a lot of money

[2018-01-17 14:18] #483 closed

[2018-01-17 14:19] #470 closed

[2018-01-17 14:27] stachorsub commented on #431
@yurkazaytsev @fyookball  final update.. I don't know why it worked this time, but using the compiled 3.1.3, I went back to my original backup of the wallet after claiming the coins, I used the above "keystore.update_password..." commands again... and MAGIC - it worked. I managed to send all balance from the "troubled privkey import" wallet to another standard Electron Cash wallet. All good now. H

[2018-01-17 16:21] panaceya commented on #371
For me not fixed.

[2018-01-17 16:28] curt0 opened #494 "Password rejected, then on second try, it did not ask for a password"
I exported the private keys from my offline Electrum wallet to an Electron Cash wallet and added a password to encrypt it. I copied the Electron Cash wallet to my online computer. When I tried to send some BCH, it prompted me for a password. I entered that password and it rejected it. I don't know why, because I'm very certain that I entered the same and correct password.

So, I repeated the proce

[2018-01-17 16:35] curt0 opened #495 "Importing Private Keys Versus Opening/Converting Electrum Wallet"
I followed the instructions from [https://techhelpkb.com/claim-bitcoin-cash-from-electrum-to-an-spv-wallet/](https://techhelpkb.com/claim-bitcoin-cash-from-electrum-to-an-spv-wallet/) to export private keys from the Electrum wallet and import them to a new Electron Cash wallet.  But, this resulting Electron Cash wallet is strictly an online wallet and does not let me create a watch-only wallet.

L

[2018-01-17 16:51] fyookball commented on #495
If you have electrum, you should have an electrum seed, right?

[2018-01-17 16:53] fyookball commented on #494
not able to recreate this

[2018-01-17 17:16] CryptDo commented on #493
I got it figured out. But yes it was several issues. For some reason I
couldn't send out of the wallet. But I was still able to reimport that tx
on a coinomi wallet (and then that showed up in the Electron Cash wallet).
The other issue was probably my miscalculation. Thanks for getting back to
me.

Best

On Wed, Jan 17, 2018 at 3:14 PM, fyookball <notifications@github.com> wrote:

[2018-01-17 18:09] imaginaryusername opened #496 "Linux: "Exit Electron Cash" doesn't exit fully"
Using Fedora 27 package, 3.1.2.

Whenever I exit Electron Cash either by right-clicking tray icon or "File->Quit", the main wallet window closes but the electron-cash process (as well as the tray) does not quit. This also results in inability to start a new instance of electron-cash when I need my wallet again, until I manually kill the process either via shell or a task manager.

[2018-01-17 18:59] curt0 commented on #495
Yes, I have the seed.

[2018-01-17 19:09] fyookball commented on #495
so i highly recommend just using the seed in a new electron cash wallet.  No need to mess around with importing keys.

[2018-01-17 19:42] curt0 commented on #495
I was able to use Electron Cash to simply open the (copy of) Electrum wallet.  It showed a message that it was going to convert the wallet.  Isn't this an even easier way, than to get the seed and create another Electron Cash wallet?

[2018-01-17 19:43] fyookball commented on #495
You can try it that way too.

[2018-01-17 19:47] ar-jan commented on #477
So it's an env issue, but what is the fix?

I have the same problem on Ubuntu 14.04. I have am using the system Python (3.4), and have  `python3-pyqt5` installed, which I think is the dependency in question.

I've also tried installing pyqt5 via pip3 (from `python3-pip` package), but there I get `Could not find any downloads that satisfy the requirement pyqt5`.

[2018-01-17 20:05] #495 closed

[2018-01-17 20:05] #494 closed

[2018-01-17 20:05] #493 closed

[2018-01-18 01:19] marceloneil commented on #496
@hegjon do you think you could take a look into this? It works fine on arch linux

[2018-01-18 01:35] maxocoin commented on #485
Yes, I cloned the repository and build it and it works fine now.
Thank you

[2018-01-18 09:26] hegjon commented on #496
It works fine on my Fedora 27 with the 3.1.2 RPM package, both on Gnome and i3. Maybe it have gotten into a state where it waits for a resource to be released/available.

[code]

Compare the difference or share them with us.

[2018-01-18 09:32] imaginaryusername commented on #496
Am using KDE, lsof:

`before closing:

COMMAND   PID USER   FD      TYPE             DEVICE  SIZE/OFF      NODE NAME
electron- 815 username  cwd       DIR              253,2      4096  18874369 /home/username
electron- 815 username  rtd       DIR              253,0      4096         2 /
electron- 815 username  txt       REG              253,0     11240    955087 /usr/bin/python3.6
electron- 815 us

[2018-01-18 09:47] hegjon commented on #496
I will check on KDE

[2018-01-18 09:57] #489 closed

[2018-01-18 09:59] imaginaryusername commented on #480
You said you

File > New/Restore
Entered wallet name and pressed "next"
Import Bitcoin addresses or private keys
Entered Bitcoin address from old bread wallet
Wallet > Private keys > Sweep
Entered Private key from old bread wallet
Got 2.5 BCH Balance
Now stucking and cannot get them out

That sounds like the watch only wallet was created from an address from the "old bread wallet". In other words,

[2018-01-18 12:07] hegjon commented on #496
The same happens with me on KDE.

Here is a stack trace of the process after I have quit.

[code]

[2018-01-18 12:11] hegjon commented on #496
Electrum does not have this bug

[2018-01-18 12:19] xavez opened #498 "Checksum of Electron-Cash-3.1.2-macosx.dmg"
When I execute a `shasum` on the downloaded `Electron-Cash-3.1.2-macosx.dmg`, it is not the same a the one I found here:

https://github.com/fyookball/keys-n-hashes/blob/master/sigs-and-sums/3.1.2/mac/SHA256.Electron-Cash-3.1.2-macosx.dmg.txt

Anyone else has this problem? Any possibility at all that this might be an error?

[2018-01-18 13:47] daveheap commented on #483
totally agree but anyone any idea how I can get this money out ??!! It shows in the watching wallet !

[2018-01-18 14:44] verretor commented on #498
Don't use it if the checksum doesn't match.

[2018-01-18 15:32] xavez commented on #498
Not planning on doing that, but I do want to double check what’s going on . . .

[2018-01-18 17:08] curt0 commented on #487
FYI:   I used the Electrum wallet that I had opened and converted with Electron Cash, to send.  I used the same ("second") watch-only wallet that I created last week with Electron Cash, to receive.  I used the same "receiving address" as before.  Electron Cash selected electron.jns.im server.  This time it worked and confirmed.

Thanks for your help!

[2018-01-18 17:17] curt0 opened #499 "Address format changes when unsigned transaction file is passed from watch-only to offline wallet"
I created a transaction to send BCH from one Electron Cash watch-only wallet to another Electron Cash watch-only wallet, using the new address format.  I saved the file and re-opened it to confirm that the address is the same and in the new format.  The input and output addresses started with “qr” or “qz”.  So far, so good.

I passed the unsigned transaction file to the off-line computer.  I opene

[2018-01-18 17:18] marceloneil commented on #498
I downloaded the dmg and checked it and it seems fine. Try redownloading. If it still doesn't work compare sha256sums between downloads, you may have a network issue.

[2018-01-18 22:51] kyuupichan commented on #499
Address format is a UI property, and not a property of the transaction. You are seeing it in a different format because the software configuration on your other machine is for a different format.

[2018-01-18 22:51] #499 closed

[2018-01-19 03:33] fyookball commented on #498
shasum is wrong command, you need specifically sha256sum

[2018-01-19 03:33] #498 closed

[2018-01-19 03:33] #487 closed

[2018-01-19 03:34] fyookball commented on #480
doesn't sound like E.C. issue, closing... @togra87 if you still need help, you can keep posting , we will try to assist based on information provided.

[2018-01-19 03:34] #480 closed

[2018-01-19 07:57] xavez commented on #498
Thanks, that wasn’t clear to me :-). All good.

[2018-01-19 09:27] imaginaryusername opened #501 "Cashaddr not accepted when creating watch-only wallets"
Linux 3.1.2. When pasting Cashaddr addresses into the "create watch-only wallet" box, box doesn't recognize the address and "next" remains disabled. Workaround: Use built-in translation tool to translate to legacy address and it works.

[2018-01-19 11:18] hegjon commented on #496
Seems to have been fixed here https://github.com/spesmilo/electrum/issues/3023

[2018-01-19 11:37] kyuupichan commented on #501
Please give basic information like what version you are running.  This works fine in git head.

[2018-01-19 11:38] kyuupichan commented on #483
I have yet to see a coherent explanation of what happened.

[2018-01-19 11:40] kyuupichan commented on #483
Why don't you get the private key from Electrum and import it into Electron Cash.  That will work fine.

[2018-01-19 13:49] curt0 commented on #499
You're right.  I changed the format on the other machine.  Transaction worked.

Thanks.

[2018-01-19 14:26] marceloneil commented on #496
Can someone cherry-pick `[9833baa`](https://github.com/SomberNight/electrum/commit/9833baad3f1f4cf426fb287007fcbaeb21d46931) from upstream and test that on KDE? I can do it myself, but it would have to be a bit later.

[2018-01-19 15:25] imaginaryusername commented on #501
Sorry, should've have said "Linux 3.1.2", Electron Cash 3.1.2 on Linux.

It's the "Import Bitcoin Address" window. Just did a little more testing:
1. Cashaddr was not detected ("next" greyed out) both with or without prefix.
2. Legacy format detects just fine.
3. Bitpay format was not detected.

[2018-01-19 18:02] marceloneil commented on #501
Doesn't work in 3.1.2 but works in git head

[2018-01-19 18:07] #501 closed

[2018-01-20 02:46] daveheap commented on #483
thanks for this kyuupichan but I've tried the following things:

1. New / Restore -> create "Standard Wallet" -> use public or private key -> create keystore from a master key "to create a spending wallet, please enter a master private key" -> pasted the private key that belongs to the previous ELECTRUM BITCOIN address but it doesn't work, "Next" button is greyed out

2. New / Restore -> Import Bi

[2018-01-20 03:10] fyookball commented on #483
@daveheap I am following your #2 option and when it is a valid key, it works fine.  This should be for a single private key.  I don't get this Electron Cash Error.  Can you try with a few different private keys and tell me if youre able to at least import a private key that way?

[2018-01-20 04:18] sbougerel opened #504 "New fix for signature breaks unit tests since it now tests for length"
Either change the `assertFalse` or modify the `b'wrong'` to a 64 character length word.

How can it be landed with the unit test failure?
[code]

[2018-01-20 12:55] #504 closed

[2018-01-20 21:31] LightSunChen opened #506 "ElectronCash-3.1.2-PORTABLE for Windows can't show history rates"
As title said,  it can't show history rates even the option is ticked.

[2018-01-20 21:40] marceloneil commented on #506
History rates are currently unavailable, but will be in the next release. Sorry for the confusion!

A temporary solution in order to restore basic fiat features is to go to your config file (`%appdata%/Electron Cash/config`, or something like that) and remove the line `"history_rates": true`. Enabling "Show history rates" will break it again. It sucks, I know :/

[2018-01-21 00:12] tnkmt commented on #280
@diregro Are you sure that you have the info about the real scammer?

The scammer can use someone else's identity. It's frighteningly easy for scammers to buy real document scans (passport copy, utility bill, etc.) and other personal data on the black market.

[2018-01-21 09:43] eve83111 opened #507 "Electron Cash Icon Borrowing Bug via Electrum"
There are huge problems with using Electron Cash when Electrum is installed, including but not limited to icon share problems.

I have Electrum installed, and running Electron Cash 3.1.2 linux portable. I have tried to play around with the icon .png files, tried changing it to a custom icon. Turns out that Electron Cash doesn't use those icons.

I have even deleted the `Electron Cash-3.1.2/icons`

[2018-01-21 16:21] fyookball commented on #507
can you show me a screenshot of the symptom?

[2018-01-21 16:21] #506 closed

[2018-01-21 22:32] bjweichel opened #508 "False incorrect password error"
I imported keys into the ElectronCash for windows, which was successful and I was able to view my BCH.  After a couple of successful transfers, suddenly the password stopped working for sending.  I then started over by importing keys again, this time not encrypting the wallet, but the same problem cropped up after a couple of transfers.  The backup file had the same problem.  Luckily I was able to

[2018-01-22 02:36] fyookball commented on #508
wallet files can get corrupted from time to time, but if this is more repeatable then its something i've not seen before.  if you can provide any steps to recreate i can try.

[2018-01-22 03:12] bjweichel commented on #508
It happened to me twice, after that I moved all my money out.  I started by importing 3 private keys, did a test send which worked, backed up the wallet, then some hours later attempted to send again and was told my password was incorrect.  The second time I did the same thing but in an unencrypted wallet.  For safety I have moved all the BCH (and pre-fork BTC) into other wallets, so I can't furth

[2018-01-22 06:56] eve83111 commented on #507
@fyookball  I can't but I will describe it better.

I am using Debian 9. I have installed the latest Electrum wallet, normally with `sudo python3 setup.py install`.

Then I have downloaded Electron Cash 3.1.2 and ran it as portable executable with `./electron-cash`

I have tried customizing the main blue icon just as fun, colored it red, then started electron cash and it still showed it blue. It w

[2018-01-22 15:13] marceloneil commented on #507
I believe that you're experiencing this issue because Electron Cash doesn't read icons from the folder `icons/`, but rather the file `gui/qt/icons_rc.py`. If you look at the [README](https://github.com/fyookball/electrum#development-version), it describes how to re-compile this file:

In terms of Electron Cash being buggy and using Electrum's files, that has since been resolved. Those tweets are p

[2018-01-22 15:53] eve83111 commented on #507
@marceloneil Wow that is a pretty unelegant way to fetch icons, via hex code?

I guess if an icon is missing or modified it recompiles the icons from that?

So then what is the point in having the /gui folder if the icons are read from hex code?

I don't have other issues with Electron Cash, but I'd use the portable EC version. Haven't experienced other issues with it.

[2018-01-22 15:59] marceloneil commented on #507
@eve83111 I'm not quite sure why it's like that, but it has something to do with the pyqt resource system.

The QT and kivy implementation of Electron Cash are in the `gui/` folder. So all the layouts, dialog, buttons and UX logic are in there. Electron Cash can actually run as a command-line utility without the need for a gui.

[2018-01-22 20:04] #507 closed

[2018-01-23 01:44] jyap808 opened #510 "Sweep function is broken in 3.1.2+"
Error:

[code]

[2018-01-23 02:04] fyookball commented on #510
steps to recreate?

[2018-01-23 02:07] jyap808 commented on #510
Full stack trace:
[code]

[2018-01-23 02:08] marceloneil commented on #510
Are you using this from the command line or the gui?

[2018-01-23 02:46] jyap808 commented on #510
Using command line

Electron-cash sweep privkey destaddy

[2018-01-23 03:11] daveheap commented on #483
thanks once again fyookball tried with several other private keys and got the same error message as before in my option 2

[2018-01-23 03:35] daveheap commented on #483
I also tested importing an electron cash private key and it works just fine - SO it seems that as the private key I have is an ELECTRUM private key the electron cash wallet cannot process it
And once again as a layman I am absolutely sure I am not the first to make this mistake and feel there must be a technical solution somehow !! Many thanks for help thus far and fingers crossed !!

[2018-01-23 03:51] jyap808 commented on #510
Running latest commit
[code]

[2018-01-23 04:33] fyookball commented on #483
can  you try changing the priv key to different formats using "wallet details" tab on cashaddress.org?  Use an offline copy of this for safety please , or better yet dont use your actual priv key, just check the format of one that doesnt have a balance

[2018-01-23 08:49] jyap808 commented on #510
@fyookball @marceloneil This is very easy to replicate. Running git head

System is Ubuntu 16 LTS 64-bit

run:
[code]

I can test any possible patches. Thanks

[2018-01-23 17:03] #510 closed

[2018-01-23 20:27] jyap808 commented on #510
Tested fine. Thanks all!

[2018-01-24 12:35] fortran77 commented on #508
I encountered this bug in two different wallets. I was able to reproduce it as given below. An example wallet that exhibits the bug is attached.  This password-protected encrypted wallet can be opened with the password, and addresses viewed, but trying to export the private keys or change the password yields an "Incorrect password" error.

The example wallet called test-2018-01-24 is attached here

[2018-01-24 12:44] fortran77 commented on #508
Probably the same bug as in #431 and #494. Maybe also #493.

[2018-01-24 13:09] fortran77 commented on #508
Reading further, it appears that a fix has been [merged](https://github.com/fyookball/electrum/pull/449/commits/16c8f41ce85199e9679abcae96e673066dca42a2) already. The workaround given in the comment https://github.com/fyookball/electrum/issues/431#issuecomment-356908067 works in this case.

    wallet.keystore.update_password(None,'your password here')
    wallet.save_keystore()

[2018-01-25 10:03] daveheap commented on #483
thanks so much for keeping trying fyookball but this is the message I got when  I entered another private key from the previous electrum wallet under wallet details just as you said
The text you entered is not a valid Private Key
Version 133 not supported!

[2018-01-25 13:56] hornet666 commented on #41
Hello everyone,
I have a problem with electron cash because I had a 2FA wallet, ofcourse I restored and disabled 2FA then send some Bitcoin Cash to different wallet. Unfortunately I have used the password and encrypted the wallet :( and now I can not open it !!! When I am trying to set a password Electron Cash has crashed !!!
Please anyone can help ??? especially You  DarkLord_GMS ???
Best regards

[2018-01-25 14:00] DarkLordGMS commented on #41
You can only recover the funds if you have the recovery seed of the wallet you sent the BCH to. Otherwise, if you don't have the seed nor the wallet password, then you won't be able to recover the funds.

[2018-01-25 14:06] hornet666 commented on #41
ofcourse I have the seed from Electrum before the fork. It will be fine with this ???

[2018-01-25 14:11] DarkLordGMS commented on #41
You said that you sent the funds from the 2FA wallet to another wallet and lost the password for that second wallet, no?

If that's the case, then the 2FA wallet is empty now. You need the seed or password of the new wallet you sent the funds to.

[2018-01-25 14:21] hornet666 commented on #41
no DarkLordGMS You misunderstood me. I have ma password but when I try to open the new wallet which was encrypted I can not open. Electron Cash just crashed :(( nothing hapenning :((

[2018-01-25 14:22] marceloneil commented on #41
@hornet666 I don't think that is a 2fa issue then, you may want to open an issue

[2018-01-25 14:27] DarkLordGMS commented on #41
Follow these steps again

https://github.com/fyookball/electrum/issues/41#issuecomment-357468208